<div class="manage-container">
  <ng-container *ngIf="dataType === 'account' || (dataType === 'strategy' && data.account && data.account.id)">
    <!--  Fund button  -->
    <i (click)="openAccountFundDialog()" title="{{'account.form.fund.title' | translate}}" class="icon-add"></i>

    <!--  Pause/Resume buttons  -->
    <ng-container *ngIf="dataType === 'account'">
      <ng-container *ngIf="data.isSecured() && data.isMy()">
        <i (click)="openStrategyPauseDialog()" *ngIf="!data.strategy.isPaused()" title="{{'common.pause' | translate}}" class="icon-pause"></i>
        <i (click)="openStrategyResumeDialog()" *ngIf="data.strategy.isPaused()" title="{{'account.form.resume.title' | translate}}" class="icon-start"></i>
      </ng-container>

      <ng-container *ngIf="!data.isSecured()">
        <i (click)="openAccountPauseDialog(data)" *ngIf="data.isPauseButtonActice()" title="{{'common.pause' | translate}}" class="icon-pause"></i>
        <i (click)="openAccountResumeDialog(data)" *ngIf="data.isResumeButtonActive()" title="{{'account.form.resume.title' | translate}}" class="icon-start"></i>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="dataType === 'strategy'">
      <ng-container *ngIf="data.isSecured() && data.isMy()">
        <i (click)="openStrategyPauseDialog()" *ngIf="!data.isPaused()" title="{{'common.pause' | translate}}" class="icon-pause"></i>
        <i (click)="openStrategyResumeDialog()" *ngIf="data.isPaused()" title="{{'account.form.resume.title' | translate}}" class="icon-start"></i>
      </ng-container>

      <ng-container *ngIf="!data.isSecured()">
        <i (click)="openAccountPauseDialog()" *ngIf="!data.account.isPaused()" title="{{'common.pause' | translate}}" class="icon-pause"></i>
        <i (click)="openAccountResumeDialog()" *ngIf="data.account.isPaused()" title="{{'account.form.resume.title' | translate}}" class="icon-start"></i>
      </ng-container>
    </ng-container>

    <div class="btn-group dropdown-container" dropdown>
      <i class="icon-hamburger" dropdownToggle></i>

      <ul *dropdownMenu class="dropdown-menu burger-menu" role="menu">
        <li (click)="openAccountChangeProfileDialog()" translate>
          <i class="icon-percent-shield"></i>
          account.form.profile.title
        </li>

        <li (click)="openAccountWithdrawDialog()" translate>
          <i class="icon-card"></i>
          common.manage.withdraw
        </li>

        <li *ngIf="dataType === 'account'" [routerLink]="['/investments/details', data.id]" translate>
          <i class="icon-doc"></i>
          common.manage.statement
        </li>
        <li *ngIf="dataType === 'strategy'" [routerLink]="['/investments/details', data.account.id]" translate>
          <i class="icon-doc"></i>
          common.manage.statement
        </li>

        <li *ngIf="dataType === 'strategy' && data.isMy()" [routerLink]="['/strategies/details', data.id, 'investments']" translate>
          <i class="fa fa-list-alt"></i>
          common.investments
        </li>
        <li *ngIf="dataType === 'account' && data.isMy() && !hideInvestmentsButton" [routerLink]="['/strategies/details', data.strategy.id, 'investments']" translate>
          <i class="fa fa-list-alt"></i>
          common.investments
        </li>

        <li *ngIf="data.isMy() && data.isSecured()" (click)="openStrategyDownloadScriptDialog()" translate>
          <i class="fa fa-download"></i>
          common.manage.signalScript
        </li>
        <li
          *ngIf="(isInvestOtherStrategy || isInvestStrategy || isStrategyDetail || isRatingPage)"
          (click)="openAccountCloseDialog()" translate>
          <!--invest on other strategy-->
          <i class="fa fa-window-close"></i>
          common.manage.closeInvestment
        </li>
        <li *ngIf="(dataType === 'strategy' && data.isMyStrategy) || (dataType === 'account' && data.isMyStrategy)" (click)="openStrategyCloseDialog()" translate>
          <i class="fa fa-window-close"></i>
          common.manage.closeStrategy
        </li>
      </ul>
    </div>
  </ng-container>

  <ng-container *ngIf="dataType === 'strategy' && (!data.account || !data.account.id)">

    <div class="btn-group dropdown-container" dropdown>
      <button [disabled]="!data.publicOffer && !data.isMyStrategy && !data.linkOffer" class="primary btn-invest" (click)="openStrategyInvestDialog()" translate>common.manage.invest</button>
      <button class="primary caret" dropdownToggle *ngIf="data.isMy()"><i class="fa fa-caret-down"></i></button>

      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li [routerLink]="['/strategies/details', data.id, 'investments']" translate>
          <i class="fa fa-list-alt"></i>
          common.investments
        </li>
        <li
          *ngIf="data.strategy && data.strategy['account']"
          (click)="openAccountCloseDialog()" translate>
          <i class="fa fa-window-close"></i>
          common.manage.closeInvestment
        </li>
        <li (click)="openStrategyCloseDialog()" translate>
          <i class="fa fa-window-close"></i>
          common.manage.closeStrategy
        </li>
      </ul>
    </div>
  </ng-container>

  <ng-container *ngIf="dataType === 'offer'">
    <button *ngIf="data.link && !data['isPublic']" class="primary btn-invest" (click)="onClick(data)" translate>myStrategies.offers.type.create.public</button>
  </ng-container>
</div>
