<div class="manage-container">
  <ng-container *ngIf="dataType === 'account' || (dataType === 'strategy' && data.account)">
    <!--  Fund button  -->
    <i (click)="openAccountFundDialog()" title="{{'Пополнение инвестиции' | translate}}" class="icon-add"></i>

    <!--  Pause/Resume buttons  -->
    <ng-container *ngIf="dataType === 'account'">
      <ng-container *ngIf="data.isSecured() && data.isMy()">
        <i (click)="openStrategyPauseDialog()" *ngIf="!data.strategy.isPaused()" title="{{'Пауза' | translate}}" class="icon-pause"></i>
        <i (click)="openStrategyResumeDialog()" *ngIf="data.strategy.isPaused()" title="{{'Возобновить' | translate}}" class="icon-start"></i>
      </ng-container>

      <ng-container *ngIf="!data.isSecured()">
        <i (click)="openAccountPauseDialog()" *ngIf="!data.isPaused()" title="{{'Пауза' | translate}}" class="icon-pause"></i>
        <i (click)="openAccountResumeDialog()" *ngIf="data.isPaused()" title="{{'Возобновить' | translate}}" class="icon-start"></i>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="dataType === 'strategy'">
      <ng-container *ngIf="data.isSecured() && data.isMy()">
        <i (click)="openStrategyPauseDialog()" *ngIf="!data.isPaused()" title="{{'Пауза' | translate}}" class="icon-pause"></i>
        <i (click)="openStrategyResumeDialog()" *ngIf="data.isPaused()" title="{{'Возобновить' | translate}}" class="icon-start"></i>
      </ng-container>

      <ng-container *ngIf="!data.isSecured()">
        <i (click)="openAccountPauseDialog()" *ngIf="!data.account.isPaused()" title="{{'Пауза' | translate}}" class="icon-pause"></i>
        <i (click)="openAccountResumeDialog()" *ngIf="data.account.isPaused()" title="{{'Возобновить' | translate}}" class="icon-start"></i>
      </ng-container>
    </ng-container>

    <div class="btn-group dropdown-container" dropdown>
      <i class="icon-hamburger" dropdownToggle></i>

      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li (click)="openAccountChangeProfileDialog()" translate>
          <i class="icon-percent-shield"></i>
          Изменить профиль инвестиции
        </li>

        <li (click)="openAccountWithdrawDialog()" translate>
          <i class="icon-card"></i>
          Вывод средств из инвестиции
        </li>

        <li *ngIf="dataType === 'account'" [routerLink]="['/investments/details', data.id]" translate>
          <i class="icon-doc"></i>
          Выписка по инвестиции
        </li>
        <li *ngIf="dataType === 'strategy'" [routerLink]="['/investments/details', data.account.id]" translate>
          <i class="icon-doc"></i>
          Выписка по инвестиции
        </li>

        <li *ngIf="dataType === 'strategy' && data.isMy()" [routerLink]="['/strategies/details', data.id, 'investments']" translate>
          <i class="fa fa-list-alt"></i>
          Инвестиции
        </li>
        <li *ngIf="dataType === 'account' && data.isMy()" [routerLink]="['/strategies/details', data.strategy.id, 'investments']" translate>
          <i class="fa fa-list-alt"></i>
          Инвестиции
        </li>

        <li *ngIf="data.isMy() && data.isSecured()" (click)="openStrategyDownloadScriptDialog()" translate>
          <i class="fa fa-download"></i>
          Сигнальный скрипт
        </li>

        <li *ngIf="data.isMy()" (click)="openStrategyCloseDialog()" translate>
          <i class="fa fa-window-close"></i>
          Закрыть стратегию
        </li>
        <li *ngIf="!data.isMy()" (click)="openAccountCloseDialog()" translate>
          <i class="fa fa-window-close"></i>
          Закрыть инвестицию
        </li>
      </ul>
    </div>
  </ng-container>

  <ng-container *ngIf="dataType === 'strategy' && !data.account">

    <div class="btn-group dropdown-container" dropdown>
      <button class="primary inverted" (click)="openStrategyInvestDialog()" translate>Инвестировать</button>
      <button class="primary inverted caret" dropdownToggle *ngIf="data.isMy()"><i class="fa fa-caret-down"></i></button>

      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li [routerLink]="['/strategies/details', data.id, 'investments']" translate>
          <i class="fa fa-list-alt"></i>
          Список инвестиций
        </li>

        <li (click)="openStrategyCloseDialog()" translate>
          <i class="fa fa-window-close"></i>
          Закрыть стратегию
        </li>
      </ul>
    </div>
  </ng-container>
</div>
