<app-dialog-wrapper titleText="Закрытие стратегии" [modalRef]="modalRef">
  <div class="text">
    <h5>Вы подтверждаете закрытие своей стратегии?</h5>
    Если Вы инвестировали в свою стратегию, то при ее закрытии Ваш инвестиционный счет также будет закрыт. Обратите внимание, что это необратимое действие.
  </div>

  <div class="dialog-actions">
    <button class="primary" (click)="close()">Ок</button>
    <button class="primary" (click)="modalRef.hide()">Отмена</button>
  </div>
</app-dialog-wrapper>
