<div class="strategies">
  <div class="strategy" *ngFor="let strategy of strategies">
    <div class="caption">
      <a [routerLink]="['/strategies/details', strategy.id]">{{strategy.name}}</a>
    </div>

    <div class="info">
      <div class="item">
        <span translate>investment.details.investment.id</span>
        <span>{{strategy.id}}</span>
      </div>

      <div class="item">
        <span translate>common.fee</span>
        <span>{{strategy.publicOffer.feeRate | percent}}</span>
      </div>

      <div class="item">
        <span translate>investment.details.investment.created</span>
        <span>{{strategy.dtCreated | customDate}}</span>
      </div>

      <div class="item">
        <span translate>investment.details.investment.closed</span>
        <span>{{strategy.dtClosed | customDate}}</span>
      </div>

      <div class="item">
        <span translate>common.age</span>
        <span>{{strategy.getAgeWeeks()}}</span>
      </div>
    </div>
  </div>
</div>

<app-data-table-paginator [paginator]="paginator" (paginationChanged)="paginatorChanged()"></app-data-table-paginator>
