@import "styles";

.filter-container {
  text-align: right;

  a.filter-value {
    color: $link-color;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}

.transfers,
h5 {
  display: none;
}

app-data-table-paginator {
  display: none;
}

@media (max-width: 576px) {
  app-data-table {
    display: none;
  }

  app-data-table-paginator {
    display: block;
  }

  h5 {
    display: block;
    width: 100%;
    text-align: center;
  }

  .transfers {
    display: block;
    border-top: 5px solid $border-color;
    margin-bottom: 20px;

    .transfer {
      border-bottom: 5px solid $border-color;
      padding: 10px 10px 0;

      .info {
        .item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }
    }
  }

}
