<app-dialog-wrapper [titleText]="this.getTitleText()" [modalRef]="modalRef">
  <form [formGroup]="form">
    <div class="text">
      <p>Я хочу:</p>

      <div class="radio-container">
        <input #withdrawRadio
               type="radio"
               name="withdrawType"
               id="withdraw-radio"
               value="withdraw"
               formControlName="withdrawType">
        <label for="withdraw-radio" class="radio-label">Вывести часть средств из инвестиции</label>
      </div>

      <div class="radio-hint">
        <div *ngIf="account.isSecured() && account.isMy() && !account.strategy.isPaused()" class="negative">
          Частичное снятие возможно только в режиме
          <a class="pause-link" (click)="openStrategyPauseDialog()">Паузы</a>.
          Поставьте стратегию на паузу и повторите операцию.
        </div>
        <div *ngIf="!account.isSecured() && !account.isPaused()" class="negative">
          Частичное снятие возможно только в режиме
          <a class="pause-link" (click)="openAccountPauseDialog()">Паузы</a>.
          Поставьте инвестицию на паузу и повторите операцию.
        </div>
        <div *ngIf="account.strategy.isPaused() && !(form.get('withdrawType').value === 'withdraw')">
          Сумма, доступная для частичного вывода: {{account.availableToWithDraw | customCurrency}}.
        </div>
        <div class="form-field" *ngIf="account.strategy.isPaused() && form.get('withdrawType').value === 'withdraw'">
          <label for="amount" class="field-label">Сумма вывода, USD:</label>
          <div class="input-wrapper">
            <input id="amount"
                   type="number"
                   formControlName="amount"
                   [min]="0"
                   [max]="account.availableToWithDraw">
            <div class="messages">
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('min')">
                Сумма вывода должна быть больше 0,01 USD.
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('max')">
                Указанное значение превышает доступную для вывода сумму.
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('required')">
                Укажите сумму вывода.
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('pattern')">
                Пожалуйста, введите корректную сумму вывода.
              </label>
              <label class="details-message">
                Баланс вашей инвестиции в вашу стратегию после вывода должен быть не меньше {{account.accountMinBalance | customCurrency}}.
              </label>
              <label class="details-message">
                Сумма, доступная для вывода: <span class="available-clickable" (click)="setAllMoney()">{{account.availableToWithDraw | customCurrency}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="radio-container">
        <input type="radio"
               name="withdrawType"
               id="close-radio"
               value="close"
               formControlName="withdrawType">
        <label for="close-radio" class="radio-label">Закрыть {{account.isSecured() && account.isMy() ? 'стратегию' : 'инвестицию'}}</label>
      </div>

      <div class="radio-hint">
        <ng-container  *ngIf="account.isSecured() && account.isMy()">
          <p>
            Полное закрытие инвестиции в вашу собственную стратегию возможно только при ликвидации стратегии.
            Обратите внимание, что это необратимое действие.
          </p>
          <div *ngIf="(form.get('withdrawType').value === 'close')" class="withdraw-amount">Текущая сумма средств: {{account.equity | customCurrency}}</div>
        </ng-container>
        <ng-container *ngIf="!account.isSecured()">
          <p>
            Вы можете закрыть вашу инвестицию в любой момент.
            Позже вы сможете создать новую инвестицию в ту же стратегию, при этом просадка инвестиции будет обнулена.
          </p>
          <div *ngIf="(form.get('withdrawType').value === 'close')" class="withdraw-amount">Текущая сумма средств: {{account.equity | customCurrency}}</div>
          <p *ngIf="(form.get('withdrawType').value === 'close')">Средства вашей инвестиции рассчитаны по индикативным ценам.
            При закрытии инвестиции все открытые позиции будут закрыты по текущим рыночным ценам,
            которые могут незначительно отличаться от индикативных.</p>
        </ng-container>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary"
              *ngIf="form.get('withdrawType').value === 'withdraw'"
              (click)="withdraw()"
              [disabled]="!form.valid">
        Вывести
        <span *ngIf="form.get('amount').value > 0">({{form.get('amount').value | customCurrency}})</span>
      </button>

      <button class="warning"
              *ngIf="form.get('withdrawType').value === 'close'"
              (click)="close()">
        Закрыть {{account.isSecured() && account.isMy() ? 'стратегию' : 'инвестицию'}}
      </button>
    </div>
  </form>
</app-dialog-wrapper>
