<app-dialog-wrapper [titleText]="this.getTitleText() | translate" [modalRef]="modalRef">
  <form [formGroup]="form">
    <div class="text">
      <p translate>common.label.iWant</p>

      <div class="radio-container">
        <input #withdrawRadio
               type="radio"
               name="withdrawType"
               id="withdraw-radio"
               value="withdraw"
               formControlName="withdrawType">
        <label for="withdraw-radio" class="radio-label" translate>account.withdraw.partial</label>
      </div>

      <div class="radio-hint">
        <div *ngIf="account.isSecured() && account.isMy() && !account.strategy.isPaused()" class="negative" translate>
          account.withdraw.partial.pause
          <a class="pause-link" (click)="openStrategyPauseDialog()" translate>common.pause2</a>
          account.withdraw.partial.pause2.strategy
        </div>
        <div *ngIf="!account.isSecured() && !account.isPaused()" class="negative" translate>
          account.withdraw.partial.pause
          <a class="pause-link" (click)="openAccountPauseDialog()" translate>common.pause2</a>
          account.withdraw.partial.pause2.investment
        </div>
        <div *ngIf="((account.isSecured() && account.isMy() && account.strategy.isPaused()) || (!account.isSecured() && account.isPaused())) && (form.get('withdrawType').value !== 'withdraw')">
          <span translate>account.withdraw.partial.available</span>: {{account.availableToWithDraw | customCurrency}}.
        </div>
        <div class="form-field" *ngIf="((account.isSecured() && account.isMy() && account.strategy.isPaused()) || (!account.isSecured() && account.isPaused())) && form.get('withdrawType').value === 'withdraw'">
          <label for="amount" class="field-label"><span translate>account.withdraw.partial.sum</span>, USD:</label>
          <div class="input-wrapper">
            <input id="amount"
                   type="number"
                   formControlName="amount"
                   [min]="0"
                   [max]="account.availableToWithDraw">
            <div class="messages">
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('min') && !form.get('amount').hasError('pattern')">
                <span translate>account.withdraw.partial.error.min</span> 0,01 USD.
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('max') && !form.get('amount').hasError('pattern')" translate>
                account.withdraw.partial.error.max
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('required')" translate>
                account.withdraw.partial.error.required
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('pattern')" translate>
                account.withdraw.partial.error.pattern
              </label>
              <label class="details-message">
                <span translate>account.withdraw.partial.min-balance</span> {{account.accountMinBalance | customCurrency}}.
              </label>
              <label class="details-message">
                <span translate>account.withdraw.partial.available2</span>: <span class="available-clickable" (click)="setAllMoney()">{{account.availableToWithDraw | customCurrency}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="radio-container">
        <input type="radio"
               name="withdrawType"
               id="close-radio"
               value="close"
               formControlName="withdrawType">
        <label for="close-radio" class="radio-label" translate>{{account.isSecured() && account.isMy() ? 'common.manage.closeStrategy' : 'common.manage.closeInvestment' }}</label>
      </div>

      <div class="radio-hint">
        <ng-container  *ngIf="account.isSecured() && account.isMy()">
          <p translate>
            account.withdraw.close.strategy.warning
          </p>
          <div *ngIf="(form.get('withdrawType').value === 'close')" class="withdraw-amount">
            <span translate>account.withdraw.close.current-equity</span>:
            {{account.equity | customCurrency}}
          </div>
        </ng-container>
        <ng-container *ngIf="!account.isSecured()">
          <p translate>
            account.withdraw.close.investment.warning
          </p>
          <div *ngIf="(form.get('withdrawType').value === 'close')" class="withdraw-amount">
            <span translate>account.withdraw.close.current-equity</span>:
            {{account.equity | customCurrency}}
          </div>
          <p *ngIf="(form.get('withdrawType').value === 'close')" translate>account.withdraw.close.investment.warning2</p>
        </ng-container>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary"
              *ngIf="form.get('withdrawType').value === 'withdraw'"
              (click)="withdraw()"
              [disabled]="!form.valid">
        <span translate>account.withdraw.partial.button </span>
        <span *ngIf="form.get('amount').value > 0">({{(form.get('amount').value | customCurrency).trim()}})</span>
      </button>

      <button class="warning"
              *ngIf="form.get('withdrawType').value === 'close'"
              (click)="close()" translate> 
        {{account.isSecured() && account.isMy() ? 'common.manage.closeStrategy' : 'common.manage.closeInvestment' }}
      </button>
    </div>
  </form>
</app-dialog-wrapper>
