<app-dialog-wrapper [titleText]="this.getTitleText() | translate" [modalRef]="modalRef">
  <form [formGroup]="form">
    <div class="text">
      <p translate>common.label.iWant</p>

      <div class="radio-container">
        <input #withdrawRadio
               type="radio"
               name="withdrawType"
               id="withdraw-radio"
               value="withdraw"
               formControlName="withdrawType">
        <label for="withdraw-radio" class="radio-label" translate>Вывести часть средств из инвестиции</label>
      </div>

      <div class="radio-hint">
        <div *ngIf="account.isSecured() && account.isMy() && !account.strategy.isPaused()" class="negative" translate>
          Частичное снятие возможно только в режиме
          <a class="pause-link" (click)="openStrategyPauseDialog()" translate>Паузы</a>.
          Поставьте стратегию на паузу и повторите операцию.
        </div>
        <div *ngIf="!account.isSecured() && !account.isPaused()" class="negative" translate>
          Частичное снятие возможно только в режиме
          <a class="pause-link" (click)="openAccountPauseDialog()" translate>Паузы</a>.
          Поставьте инвестицию на паузу и повторите операцию.
        </div>
        <div *ngIf="((account.isSecured() && account.isMy() && account.strategy.isPaused()) || (!account.isSecured() && account.isPaused())) && (form.get('withdrawType').value !== 'withdraw')">
          <span translate>Сумма, доступная для частичного вывода</span>: {{account.availableToWithDraw | customCurrency}}.
        </div>
        <div class="form-field" *ngIf="((account.isSecured() && account.isMy() && account.strategy.isPaused()) || (!account.isSecured() && account.isPaused())) && form.get('withdrawType').value === 'withdraw'">
          <label for="amount" class="field-label"><span translate>Сумма вывода</span>, USD:</label>
          <div class="input-wrapper">
            <input id="amount"
                   type="number"
                   formControlName="amount"
                   [min]="0"
                   [max]="account.availableToWithDraw">
            <div class="messages">
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('min') && !form.get('amount').hasError('pattern')">
                <span translate>Сумма вывода должна быть больше или равна</span> 0,01 USD.
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('max') && !form.get('amount').hasError('pattern')" translate>
                Указанное значение превышает доступную для вывода сумму.
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('required')" translate>
                Укажите сумму вывода.
              </label>
              <label class="error-message"
                     *ngIf="form.get('amount').touched && form.get('amount').hasError('pattern')" translate>
                Пожалуйста, введите корректную сумму вывода.
              </label>
              <label class="details-message">
                <span translate>Баланс вашей инвестиции в вашу стратегию после вывода должен быть не меньше</span> {{account.accountMinBalance | customCurrency}}.
              </label>
              <label class="details-message">
                <span translate>Сумма, доступная для вывода</span>: <span class="available-clickable" (click)="setAllMoney()">{{account.availableToWithDraw | customCurrency}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="radio-container">
        <input type="radio"
               name="withdrawType"
               id="close-radio"
               value="close"
               formControlName="withdrawType">
        <label for="close-radio" class="radio-label" translate>Закрыть {{account.isSecured() && account.isMy() ? 'стратегию' : 'инвестицию'}}</label>
      </div>

      <div class="radio-hint">
        <ng-container  *ngIf="account.isSecured() && account.isMy()">
          <p translate>
            Полное закрытие инвестиции в вашу собственную стратегию возможно только при ликвидации стратегии.
            Обратите внимание, что это необратимое действие.
          </p>
          <div *ngIf="(form.get('withdrawType').value === 'close')" class="withdraw-amount">
            <span translate>Текущая сумма средств</span>:
            {{account.equity | customCurrency}}
          </div>
        </ng-container>
        <ng-container *ngIf="!account.isSecured()">
          <p translate>
            Вы можете закрыть вашу инвестицию в любой момент.
            Позже вы сможете создать новую инвестицию в ту же стратегию, при этом просадка инвестиции будет обнулена.
          </p>
          <div *ngIf="(form.get('withdrawType').value === 'close')" class="withdraw-amount">
            <span translate>Текущая сумма средств</span>:
            {{account.equity | customCurrency}}
          </div>
          <p *ngIf="(form.get('withdrawType').value === 'close')" translate>Средства вашей инвестиции рассчитаны по индикативным ценам.
            При закрытии инвестиции все открытые позиции будут закрыты по текущим рыночным ценам,
            которые могут незначительно отличаться от индикативных.</p>
        </ng-container>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary"
              *ngIf="form.get('withdrawType').value === 'withdraw'"
              (click)="withdraw()"
              [disabled]="!form.valid">
        <span translate>Вывести </span>
        <span *ngIf="form.get('amount').value > 0">({{(form.get('amount').value | customCurrency).trim()}})</span>
      </button>

      <button class="warning"
              *ngIf="form.get('withdrawType').value === 'close'"
              (click)="close()" translate>
        Закрыть {{account.isSecured() && account.isMy() ? 'стратегию' : 'инвестицию'}}
      </button>
    </div>
  </form>
</app-dialog-wrapper>
