@import "styles";

.content-tab-links {
  margin-bottom: 40px;

  .content-tab-link {
    display: inline-block;
    border: 1px solid $main-color;
    height: 40px;
    min-width: 185px;
    padding: 0 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.active {
      font-weight: bold;
      background-color: $main-color;
    }
  }
}

@media (max-width: 768px) {
  .content-tab-links {
    .content-tab-link {
      min-width: 160px;
    }
  }
}

@media (max-width: 576px) {
  .content-tab-links {
    border-bottom: 5px solid $border-color;
    padding: 5px 0;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    margin-bottom: 0;
    z-index: 9;
    display: flex;

    .content-tab-link {
      padding: 0 10px;
      flex-grow: 1;
      min-width: 0;
    }
  }
}
