<div class="caption">
  <h2>{{strategy.name}}</h2>

  <div class="info">
    <span class="pnl item"
          [class.positive]="strategy.account.intervalPnL > 0"
          [class.negative]="strategy.account.intervalPnL < 0">
      {{strategy.account.intervalPnL | customCurrency}}
    </span>
    <span class="item">Средства: <b>{{strategy.account.balance | customCurrency}}</b></span>
    <span class="item">Цель: <b>{{(strategy.account.target | percent)}}</b></span>
    <span class="item">Защита: <b>{{strategy.account.protection | percent}}</b></span>
  </div>

  <app-manage [data]="strategy"></app-manage>
</div>

<app-content-tabs [links]="links">
  <router-outlet></router-outlet>
</app-content-tabs>

<p><b>Предупреждение о рисках: итоги предыдущих торговых операций не гарантируют получение идентичных результатов в будущем.</b></p>
