@import "styles";

app-mobile-data-view-investment {
  display: none;
}

@media (max-width: 768px) {
  app-data-table {
    display: none;
  }

  app-mobile-data-view-investment {
    display: block;
  }

  div[id*="mobileYieldChartContainer"] {
    height: 150px;
  }
}

