<footer>
  <div class="container">
    <div class="info">
      <img *ngIf="footerLogoLink" class="logo" [src]="footerLogoLink" alt="company_logo">
      <span class="copyright">{{'legal.text'\n 'legal.text2' | translate}}</span>
      <a href="https://play.google.com/store/apps/details?id=com.project.ramm" target="_blank">
        <img src="assets/images/googlePlay_{{language}}.png">
      </a>
    </div>

    <div class="risk" [innerHTML]="'risk.text' | translate">

    </div>
  </div>
</footer>
