<footer>
  <div class="container">
    <div class="info">
      <img class="logo" src="assets/images/logo.png">
      <span class="copyright">© 2019 Юридическая информация</span>
      <a href="https://play.google.com/store/apps/details?id=com.project.ramm" target="_blank">
        <img src="assets/images/googlePlay.png">
      </a>
    </div>

    <div class="risk">
      <b>RISK WARNING:</b> There is a high level of risk involved when trading leveraged products such as Forex/CFDs.
    </div>
  </div>
</footer>
