.strategy-offer {
  .create-container {
    margin-top: -35px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1200px) {
    .create-container {
      margin-top: -80px;
      margin-bottom: 35px;
    }
  }

  table tbody tr td {
    padding: 5px 10px !important;
  }
}

.empty-space {
  border: none;
  background: none;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  & > * {
    display: flex;
  }
  & > span {
    min-width: 80px;
    padding-right: 10px;
  }
  button {
    font-size: 20px;
    width: 38px;
    min-width: 38px;
    align-items: center;
    i {
      font-size: 20px;
    }
  }
}
