<div class="strategy-offer"
     *ngIf="strategy$ | async as strategy">
  <ng-container *ngIf="offers$ | async">
    <div class="text-right create-container"
         *ngIf="canCreateOffer">
      <button class="primary"
              (click)="createOffer()"
              translate>strategy.button.create.offer
      </button>
    </div>

    <table class="w-100">
      <thead>
      <tr>
        <th translate rowspan="2" style="width: 50px; vertical-align: bottom; padding-bottom: 13px;">ID</th>
        <th translate colspan="3">investment.details.strategy.feeRate</th>
        <th translate colspan="3">common.table.label.commissionRate</th>
        <th translate colspan="2">common.investments</th>
        <th translate rowspan="2" style="vertical-align: bottom; padding-bottom: 13px;">link</th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th translate>%</th>
        <th translate>investment.details.strategy.feeRatePaid</th>
        <th translate>investment.details.strategy.feeRateToPay</th>
        <th translate>common.table.label.commission.unit</th>
        <th translate>common.table.label.commissionPaidUSD</th>
        <th translate>common.table.label.commissionToPayUSD</th>
        <th translate>myStrategies.active.title</th>
        <th translate>table.cell.total</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngIf="strategy.publicOffer">
        <td colspan="13" translate>common.table.label.offer.public</td>
      </tr>
      <tr *ngIf="strategy.publicOffer">
        <td [innerText]="strategy.publicOffer.id"></td>
        <td [innerText]="(strategy.publicOffer.feeRate)*100"></td>
        <td [innerText]="strategy.publicOffer.feePaid"></td>
        <td [innerText]="strategy.publicOffer.feeToPay"></td>
        <td [innerText]="(strategy.publicOffer.commissionRate || 0)"></td>
        <td [innerText]="strategy.publicOffer.commissionPaid"></td>
        <td [innerText]="strategy.publicOffer.commissionToPay"></td>
        <td [innerText]="strategy.publicOffer.activeAccounts"></td>
        <td [innerText]="strategy.publicOffer.totalAccounts"></td>
        <td>
          <span class="link-container"
                *ngIf="strategy.publicOffer.link">
                <span class="d-flex">{{strategy.publicOffer.link || ''}}</span>
                <button ngxClipboard
                        class="d-flex empty-space"
                        [cbContent]="getOfferLink(strategy.publicOffer.link)">
                <i class="fa fa-copy"></i>
          </button>
          </span>
        </td>
        <td>
          <button class="primary btn-invest"
                  (click)="onMakePublic(false, {})" translate>myStrategies.offers.type.create.not.public</button>
        </td>
      </tr>
      <ng-container *ngIf="privateOffers$ | async as privateOffers">
        <tr>
          <td colspan="13" translate *ngIf="privateOffers.length">common.table.label.offer.private</td>
        </tr>
        <tr *ngFor="let offer of privateOffers">
          <td [innerText]="offer.id"></td>
          <td [innerText]="(offer.feeRate)*100"></td>
          <td [innerText]="offer.feePaid"></td>
          <td [innerText]="offer.feeToPay"></td>
          <td [innerText]="(offer.commissionRate || 0)"></td>
          <td [innerText]="offer.commissionPaid"></td>
          <td [innerText]="offer.commissionToPay"></td>
          <td [innerText]="offer.activeAccounts"></td>
          <td [innerText]="offer.totalAccounts"></td>
          <td>
            <span class="link-container"
                  *ngIf="offer.link">
                  <span class="d-flex">{{offer.link || ''}}</span>
                  <button ngxClipboard
                          class="d-flex empty-space"
                          [cbContent]="getOfferLink(offer.link)">
                  <i class="fa fa-copy"></i>
                </button>
                </span>
          </td>
          <td>
            <button class="primary btn-invest"
                    *ngIf="offer.link"
                    (click)="onMakePublic(true, offer)" translate>myStrategies.offers.type.create.public</button>
          </td>
        </tr>
      </ng-container>
      
      <tr *ngIf="traderOffer$ | async">
        <td colspan="13" translate>common.table.label.offer.trader</td>
      </tr>
      <tr *ngIf="traderOffer$ | async as traderOffer">
        <td [innerText]="traderOffer.id"></td>
        <td [innerText]="(traderOffer.feeRate)*100"></td>
        <td [innerText]="traderOffer.feePaid"></td>
        <td [innerText]="traderOffer.feeToPay"></td>
        <td [innerText]="(traderOffer.commissionRate || 0)"></td>
        <td [innerText]="traderOffer.commissionPaid"></td>
        <td [innerText]="traderOffer.commissionToPay"></td>
        <td [innerText]="traderOffer.activeAccounts"></td>
        <td [innerText]="traderOffer.totalAccounts"></td>
        <td>
          <span class="link-container"
                *ngIf="traderOffer.link">
                <span class="d-flex">{{traderOffer.link || ''}}</span>
                <button ngxClipboard
                        class="d-flex empty-space"
                        [cbContent]="getOfferLink(traderOffer.link)">
                <i class="fa fa-copy"></i>
              </button>
          </span>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
