<div class="strategy-offer"
     *ngIf="strategy">
  <div class="text-right create-container">
    <button class="primary"
            (click)="createOffer()"
            translate>strategy.button.create.offer
    </button>
  </div>
<!--  <table *ngIf="strategy.publicOffer">-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>ID</td>-->
<!--      <td>-->
<!--        {{strategy.publicOffer.id}}-->
<!--        <span-->
<!--          class="positive"-->
<!--          translate>myStrategies.offers.type.public</span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td colspan="2" class="text-right">-->
<!--        <button-->
<!--          class="primary"-->
<!--          (click)="makeNotPublic()" translate>myStrategies.offers.type.create.not.public-->
<!--        </button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td translate>investment.details.strategy.feeRate</td>-->
<!--      <td>{{strategy.publicOffer.feeRate  | percent}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td translate>investment.details.strategy.commission</td>-->
<!--      <td>{{strategy.publicOffer.getComission()}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--  <app-data-table-->
<!--    [tableHeader]="tableHeader"-->
<!--    [data]="offers"-->
<!--    (rowManageClick)="onRowManageClick($event)"-->
<!--    (paginationChanged)="getOffers()"-->
<!--    [methodArgs]="args">-->
<!--  </app-data-table>-->

  <table class="w-100">
    <thead>
      <tr>
        <th translate rowspan="2" style="width: 50px">ID</th>
        <th translate colspan="3">investment.details.strategy.feeRate</th>
        <th translate colspan="3">common.table.label.commissionRate</th>
        <th translate colspan="2">common.investments</th>
        <th translate colspan="2">common.table.label.partner</th>
        <th translate rowspan="2">link</th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th translate>%</th>
        <th translate>investment.details.strategy.feeRatePaid</th>
        <th translate>investment.details.strategy.feeRateToPay</th>

        <th translate>common.table.label.commission.unit</th>
        <th translate>common.table.label.commissionPaidUSD</th>
        <th translate>common.table.label.commissionToPayUSD</th>

        <th translate>myStrategies.active.title</th>
        <th translate>table.cell.total</th>

        <th translate>ID</th>
        <th translate>common.table.label.partner.share</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="strategy.publicOffer">
        <td colspan="13" translate>common.table.label.offer.public</td>
      </tr>
      <tr *ngIf="strategy.publicOffer">
        <td [innerText]="strategy.publicOffer.id"></td>
        <td [innerText]="strategy.publicOffer.FeeRate"></td>
        <td [innerText]="strategy.publicOffer.FeePaid"></td>
        <td [innerText]="strategy.publicOffer.FeeToPay"></td>
        <td [innerText]="(strategy.publicOffer.commissionRate || 0)*1000000"></td>
        <td [innerText]="strategy.publicOffer.CommissionPaid"></td>
        <td [innerText]="strategy.publicOffer.CommissionToPay"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td [innerText]="strategy.publicOffer.link || ''"></td>
        <td>
          <button class="primary btn-invest"
                  (click)="onMakePublic(false, strategy.publicOffer)" translate>myStrategies.offers.type.create.not.public</button>
        </td>
      </tr>
      <tr *ngIf="offers">
        <td colspan="13" translate>common.table.label.offer.private</td>
      </tr>
      <tr *ngFor="let offer of offers">
        <td [innerText]="offer.id"></td>
        <td [innerText]="offer.FeeRate"></td>
        <td [innerText]="offer.FeePaid"></td>
        <td [innerText]="offer.FeeToPay"></td>
        <td [innerText]="(offer.commissionRate || 0) * 1000000"></td>
        <td [innerText]="offer.CommissionPaid"></td>
        <td [innerText]="offer.CommissionToPay"></td>
        <td [innerText]="offer.activeAccounts"></td>
        <td [innerText]="offer.totalAccounts"></td>
        <td></td>
        <td [innerText]="offer.partnerShareRate || ''"></td>
        <td>
           <span class="link-container">
                <span class="d-flex">{{offer.link || ''}}</span>
                <button ngxClipboard
                        class="d-flex empty-space"
                        [cbContent]="getOfferLink(offer.link)"
                        *ngIf="offer.link">
                <i class="fa fa-copy"></i>
              </button>
              </span>
        </td>
        <td>
          <button class="primary btn-invest"
                  (click)="onMakePublic(true, offer)" translate>myStrategies.offers.type.create.public</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
