<app-dialog-wrapper [modalRef]="modalRef" titleText="{{'Пополнение инвестиции' | translate}}">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field no-input">
      <label class="field-label"><span translate>Стратегия</span>:</label>
      <div class="input-wrapper">
        <a [routerLink]="['/strategies/details', account.strategy.id]" (click)="modalRef.hide()">{{account.strategy.name}}</a>
      </div>
    </div>

    <div class="form-field  no-input">
      <label class="field-label"><span translate>Средства в инвестиции</span>:</label>
      <div class="input-wrapper">
        {{account.equity | customCurrency}}
      </div>
    </div>

    <div class="form-field  no-input">
      <label class="field-label"><span translate>Доступно</span>:</label>
      <div class="input-wrapper">
        <span class="available-clickable" (click)="setAllMoney()">{{wallet.getAvailableMoney() | customCurrency}}</span>
      </div>
    </div>

    <div class="form-field">
      <label for="amount" class="field-label"><span translate>Сумма пополнения</span>, USD:</label>
      <div class="input-wrapper">
        <input id="amount"
               type="number"
               formControlName="amount"
               [min]="0"
               [max]="wallet.getAvailableMoney()">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('required')" translate>
            Пожалуйста, введите сумму инвестиции.
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('min')" translate>
            Пожалуйста, введите корректную сумму инвестиции.
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('max')" translate>
            Вы можете инвестировать только свободные средства.
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('pattern')" translate>
            Пожалуйста, введите корректную сумму инвестиции.
          </label>
<!--          <label class="details-message">-->
<!--            <span translate>Доступно</span>: <span class="available-clickable" (click)="setAllMoney()">{{wallet.getAvailableMoney() | customCurrency}}</span>-->
<!--          </label>-->
        </div>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary"
              type="submit"
              [disabled]="!form.valid">
        <span translate>Пополнить</span> {{form.valid ? '(' + (form.get('amount').value | customCurrency) + ')' : ''}}
      </button>
    </div>
  </form>
</app-dialog-wrapper>
