<app-data-table [data]="deals"
                [tableHeader]="tableHeader"
                [paginator]="paginator"
                (paginationChanged)="getDeals()"
                [totals]="totals"
                class="low-height stripped">
</app-data-table>

<h5 translate>investment.deals.title</h5>
<div class="deals" *ngIf="deals">
  <div class="deal" *ngFor="let deal of deals">
    <div class="info">
      <div class="item">
        <span translate>common.table.label.time</span>
        <span>{{deal.dtCreated | customDate}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.deal</span>
        <span>{{deal.id}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.symbol</span>
        <span>{{deal.symbol}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.type</span>
        <span>{{deal.getType()}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.entry</span>
        <span>{{deal.getEntry()}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.volume</span>
        <span>{{deal.volume}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.price</span>
        <span>{{deal.price}}</span>
      </div>

      <div class="item">
        <span><span translate>common.table.label.yield</span>, USD</span>
        <span class="{{deal.getColorClass('yield')}}">{{deal.yield}}</span>
      </div>

      <div class="item">
        <span><span translate>common.table.label.swap</span>, USD</span>
        <span>{{deal.swap}}</span>
      </div>

      <div class="item">
        <span><span translate>common.table.label.yieldTotal</span>, USD</span>
        <span class="{{deal.getColorClass('totalProfit')}}">{{deal.totalProfit}}</span>
      </div>
    </div>
  </div>
</div>

<div class="totals" *ngIf="deals && deals.length">
  <div class="total">
    <div translate class="text-center total-title"><span translate>Прибыль</span>, USD</div>
    <div class="text-center">{{(totals['profit'] || 0).toFixed(2)}}</div>
  </div>
  <div class="total">
    <div translate class="text-center total-title"><span translate>Своп</span>, USD</div>
    <div class="text-center">{{(totals['swap'] || 0).toFixed(2)}}</div>
  </div>
  <div class="total">
    <div translate class="text-center total-title"><span translate>Итого прибыль</span>, USD</div>
    <div class="text-center">{{totals['totalProfit']}}</div>
  </div>
</div>

<app-data-table-paginator [paginator]="paginator" (paginationChanged)="getDeals()"></app-data-table-paginator>
