@import "styles";

.language-dropdown {
  position: fixed;
  top: 40px;
  right: 40px;

  button{
    outline: none;
  }

  .toggle-lang {
    min-width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;

    i {
      margin-right: 10px;
    }
  }

  ul#dropdown-lang-login {
    left: auto;
    right: 0;
    min-width: 0;
    padding: 0;
    border-radius: 10px;

    li.menuitem {
      display: flex;
      align-items: center;
      padding: 6px;
      border-bottom: 1px solid $border-color;
      cursor: pointer;

      &:last-child {
        border: none;
      }

      i {
        margin-right: 10px;
        width: 23px;
        height: 23px;
      }
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("/assets/images/loginBackground.png");
  background-size: cover;
  background-position: center;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    .content-container {
      padding: 40px 35px;
      background-color: rgba(0, 0, 0, 0.2);
      width: 678px;
      border-radius: 10px;
      border: 1px solid $text-color;

      .content {
        font-family: "Proxima Nova Regular";
        text-align: center;
        text-transform: uppercase;
        background-color: white;
        border-radius: 10px;
        padding: 30px 0;

        h1 {
          color: $text-color-dark;
          font-size: 40px;
          margin-bottom: 40px;
        }

        form {
          .field {
            position: relative;
            padding-bottom: 30px;

            label {
              font-size: 22px;

              &.error {
                font-size: 16px;
                color: $negative-color;
                display: block;
                position: absolute;
                bottom: 5px;
                text-align: center;
                width: 100%;
                text-transform: none;
              }
            }

            input {
              max-width: 434px;
              width: 100%;
              height: 51px;
              border-radius: 5px;
              border: 1px solid $border-color;
              background-color: $main-color;
              font-size: 18px;
              text-align: center;
              text-transform: uppercase;
              display: block;
              margin: 10px auto 0;

              &.ng-touched.ng-invalid {
                border-color: $negative-color;
              }
            }
          }

          div.error-message {
            color: $negative-color;
            text-transform: none;
          }

          button {
            text-transform: uppercase;
            border-radius: 20px;
            height: 51px;
            width: 223px;
            font-size: 24px;
            border: 1px solid $main-color;
            background-image: linear-gradient(180deg, #35bee5, #18a6dc);
            margin-top: 20px;
            cursor: pointer;
            outline: none;
          }
        }

        .links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 15px;
          margin-top: 45px;

          a {
            img {
            }
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .language-dropdown {
      top: 10px;
      right: 10px;
    }

    .content-container {
      padding: 5px 5px;
      width: 100% !important;

      .content {
        padding: 10px 0;
        h1 {
          color: $text-color-dark;
          font-size: 30px;
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }

    button {
      margin-top: 0px !important;
    }

    .links {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      a {
        img {
          width: 100%;
          height: 40px;
        }
      }
    }
  }

  @media (max-width: 420px) {
    .content-container {
      margin: auto 10px;
      padding: 20px !important;

      .content {
        padding: 10px !important;

        h1 {
          color: $text-color-dark;
          font-size: 30px !important;
          margin-top: 10px !important;
          margin-bottom: 20px !important;
        }

        form{
          padding: 10px;

          .field{
            label{
              font-size: 18px !important;
              
              &.error {
                font-size: 13px !important;
               
              }
            }
          }
        }

        .links{ 
          margin-top: 0 !important;
          padding: 0 5px !important;
        }
      }
    }

    button {
      margin-top: 0px !important;
    }
  }
}
