<div class="background">
  <div class="overlay">
    <div class="content-container">
      <div class="content">
        <h1 translate>login.title</h1>

        <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!otp">
          <div class="field">
            <label translate>login.form.label.login</label>
            <input type="text" formControlName="login">
            <label *ngIf="form.get('login').touched && form.get('login').hasError('required')" class="error" translate>
              login.form.login.error.required
            </label>
          </div>

          <div class="field">
            <label translate>login.form.label.password</label>
            <input type="password" formControlName="password">
            <label *ngIf="form.get('password').touched && form.get('password').hasError('required')" class="error" translate>
              login.form.password.error.required
            </label>
          </div>

          <div class="error-message" *ngIf="isWrongCredentials" translate>
            login.form.error.credentials
          </div>

          <button type="submit" translate>login.form.button.submit.label</button>
        </form>

        <div class="links">
          <a href="https://teleg.run/rammstore">
            <img src="assets/images/telegram_{{language}}.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


