<table *ngIf="strategy">
  <tbody>
  <tr>
    <td translate>Доходность в месяц</td>
    <td *ngIf="strategy.account"
        class="yield {{strategy.getColorClass('monthlyYield')}}">
      {{strategy.monthlyYield | percent:'1.2-2'}}
    </td>
    <td *ngIf="!strategy.account">{{0 | percent:'1.2-2'}}</td>

    <td translate>Доходность</td>
    <td *ngIf="strategy.account"
        class="yield {{strategy.getColorClass('profit')}}">
      {{strategy.profit | percent:'1.2-2'}}
    </td>
    <td *ngIf="!strategy.account">{{0 | percent:'1.2-2'}}</td>
  </tr>
  </tbody>
</table>

<div id="symbolsChartContainer"></div>
