<table *ngIf="strategy">
  <tbody>
  <tr>
    <td>Доходность в месяц</td>
    <td *ngIf="strategy.account"
        class="{{strategy.getColorClass('monthlyYield')}}">
      {{strategy.monthlyYield | percent}}
    </td>
    <td *ngIf="!strategy.account">{{0 | percent}}</td>

    <td>Доходность</td>
    <td *ngIf="strategy.account"
        class="{{strategy.getColorClass('profit')}}">
      {{strategy.profit | percent}}
    </td>
    <td *ngIf="!strategy.account">{{0 | percent}}</td>
  </tr>
  </tbody>
</table>

<div id="symbolsChartContainer"></div>
