@import "styles";

table {
  width: 50%;
}

#symbolsChartContainer {
  min-height: 300px;
  background-color: $background-color;
}

@media (max-width: 992px) {
  table {
    width: 100%;
  }
}
