@import "variables";

button {
  border: 1px solid $accent-color;
  text-transform: uppercase !important;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  min-width: 90px;

  &[disabled] {
    cursor: default;
    background-color: $main-color !important;
    border: none;
  }

  &.primary {
    background-color: $positive-color;
    color: white;

    &.inverted {
      color: $positive-color;
      border: 1px solid $positive-color;
      background-color: white;
    }
  }

  &.warning {
    background-color: $negative-color;
    color: white;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.centered {
    display: block;
    margin: 0 auto;
  }
}

.buttons-group {
  margin: 0 auto;
  text-align: center;

  a,
  button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
