@import "variables";

.positive {
  color: $positive-color !important;
}

.negative {
  color: $negative-color !important;
}

.accent {
  color: $accent-color !important;
}

.available-clickable {
  color: $accent-color;
  text-decoration: underline;
  cursor: pointer;
}
