@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('/assets/fonts/ProximaNova-Regular.eot');
  src: url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
