@import "variables";

h1.dialog-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 400 !important;
}

h4 {
  font-size: 16px;
}
