@import "variables";

i[class^="icon-"],
i[class*=" icon-"] {
  background-image: url('/assets/images/icons.png');
  display: inline-block;
}

i.fa {
  font-family: FontAwesome !important;
  color: #808080;
  font-size: 28px;
}

i.icon-hamburger {
  background-position: -791px -19px;
  width: 19px;
  height: 15px;

  &:hover {
    background-position: -759px -19px;
  }
}

i.icon-flag {
  width: 23px;
  height: 23px;

  &.en {
    background-position: -698px -19px;
  }

  &.ru {
    background-position: -672px -19px;
  }
  &.es {
    background: url('/assets/images/flags/es.png')!important;
    background-position: 0!important;
    background-size: 100% !important;
  }
  &.tr {
    background: url('/assets/images/flags/tr.png')!important;
    background-position: 0!important;
    background-size: 100% !important;
  }
  &.id {
    background: url('/assets/images/flags/id.png')!important;
    background-position: 0!important;
    background-size: 100% !important;
  }  
   &.fa {
    background: url('/assets/images/flags/fa.png')!important;
    background-position: 0!important;
    background-size: 100% !important;
  }
}

i.icon-add {
  background-position: -938px -11px;
  width: 34px;
  height: 34px;

  &:hover {
    background-position: -896px -11px;
  }
}

i.icon-pause {
  background-position: -990px -13px;
  width: 27px;
  height: 27px;
}

i.icon-start {
  background-position: -1064px -13px;
  width: 27px;
  height: 27px;
}

i.icon-percent-shield {
  background-position: -560px -14px;
  width: 27px;
  height: 31px;
}

i.icon-card {
  background-position: -857px -17px;
  width: 28px;
  height: 20px;
}

i.icon-doc {
  background-position: -597px -17px;
  width: 21px;
  height: 26px;
}

i.icon-list {

}

i.icon-download {

}

i.icon-search {

}

i.icon-close {
  background-position: -216px -35px;
  width: 15px;
  height: 15px;
}
