i[class^="icon-"],
i[class*=" icon-"] {
  background-image: url('/assets/images/icons.png');
  display: inline-block;
}

i.icon-hamburger {
  background-position: -791px -19px;
  width: 19px;
  height: 15px;
}

i.icon-flag {
  width: 23px;
  height: 23px;

  &.en {
    background-position: -698px -19px;
  }

  &.ru {
    background-position: -672px -19px;
  }
}

i.icon-add {
  background-position: -938px -11px;
  width: 34px;
  height: 34px;
}

i.icon-pause {
  background-position: -990px -13px;
  width: 27px;
  height: 27px;
}

i.icon-start {
  background-position: -1064px -13px;
  width: 27px;
  height: 27px;

}
