$main-color: #e4e5e6;
$text-color: #808083;
$text-color-dark: rgba(0,0,0,.87);
$text-color-light: rgba(0,0,0,.54);
$border-color: #e1dddd;
$background-color: #f8f8f8;
$accent-color: #f7a35c;
$negative-color: #ec151d;
$positive-color: #00a651;
$link-color: #1c75ba;
