<app-data-table [data]="positions"
                [tableHeader]="tableHeader"
                [paginator]="paginator"
                (paginationChanged)="getPositions()"
                [totals]="totals"
                [emptyDataText]="emptyDataText">
</app-data-table>


<div class="positions" *ngIf="positions">
  <div class="position" *ngFor="let position of positions">
    <div class="info">
      <div class="item">
        <span translate>common.table.label.symbol</span>
        <span>{{position.symbol}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.type</span>
        <span>{{position.type}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.volume</span>
        <span>{{position.volume}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.priceOpen</span>
        <span>{{position.price}}</span>
      </div>

      <div class="item">
        <span translate>common.table.label.priceCurrent</span>
        <span>{{position.currentPrice}}</span>
      </div>

      <div class="item">
        <span><span translate>common.table.label.yield</span>, USD</span>
        <span>{{position.getProfit}}</span>
      </div>

      <div class="item">
        <span><span translate>common.table.label.swap</span>, USD</span>
        <span>{{position.getSwap}}</span>
      </div>

      <div class="item">
        <span><span translate>common.table.label.yieldTotal</span>, USD</span>
        <span>{{position.getTotalProfit}}</span>
      </div>
    </div>
  </div>
</div>

<div class="totals" *ngIf="positions && positions.length">
  <div class="total">
    <div class="text-center total-title"><span translate>common.table.label.yield</span>, USD</div>
    <div class="text-center">{{(totals['profit']).toFixed(2)}}</div>
  </div>
  <div class="total">
    <div translate class="text-center total-title"><span translate>common.table.label.swap</span>, USD</div>
    <div class="text-center">{{(totals['swap']).toFixed(2)}}</div>
  </div>
  <div class="total">
    <div translate class="text-center total-title"><span translate>common.table.label.yieldTotal</span>, USD</div>
    <div class="text-center">{{(totals['totalProfit']).toFixed(2)}}</div>
  </div>
</div>

<app-data-table-paginator
  *ngIf="positions && positions.length"
  [paginator]="paginator"
  (paginationChanged)="getPositions()">
</app-data-table-paginator>
