<app-data-table [data]="positions"
                [tableHeader]="tableHeader"
                [totalFields]="totalFields"
                [paginator]="paginator"
                (paginationChanged)="getPositions()"
                [emptyDataText]="'Нет позиций'">
</app-data-table>


<div class="positions" *ngIf="positions">
  <div class="position" *ngFor="let position of positions">
    <div class="info">
      <div class="item">
        <span translate>Инструмент</span>
        <span>{{position.symbol}}</span>
      </div>

      <div class="item">
        <span translate>Тип</span>
        <span>{{position.type}}</span>
      </div>

      <div class="item">
        <span translate>Объем</span>
        <span>{{position.volume}}</span>
      </div>

      <div class="item">
        <span translate>Цена открытия</span>
        <span>{{position.price}}</span>
      </div>

      <div class="item">
        <span translate>Текущая цена</span>
        <span>{{position.currentPrice}}</span>
      </div>

      <div class="item">
        <span><span translate>Прибыль</span>, USD</span>
        <span>{{position.profit}}</span>
      </div>

      <div class="item">
        <span><span translate>Своп</span>, USD</span>
        <span>{{position.swap}}</span>
      </div>

      <div class="item">
        <span><span translate>Итого прибыль</span>, USD</span>
        <span>{{position.totalProfit}}</span>
      </div>
    </div>
  </div>
</div>

<app-data-table-paginator
  *ngIf="positions && positions.length"
  [paginator]="paginator"
  (paginationChanged)="getPositions()">
</app-data-table-paginator>

<table class="margin-info">
  <tbody>
  <tr>
    <td><span translate>Средства</span>, USD</td>
    <td *ngIf="account">{{account.equity | customCurrency}}</td>
    <td><span translate>Баланс</span>, USD</td>
    <td *ngIf="account">{{account.balance | customCurrency}}</td>
  </tr>
  <tr>
    <td><span translate>Свободная маржа</span>, USD</td>
    <td *ngIf="account" class="{{account.getColorClass('freeMargin')}}">{{account.freeMargin | customCurrency}}</td>
    <td><span translate>Маржа</span>, USD</td>
    <td *ngIf="account">{{account.margin | customCurrency}}</td>
  </tr>
  <tr>
    <td translate>Уровень маржи</td>
    <td *ngIf="account && account.marginLevel" [class.positive]="account.marginLevel >= 1" [class.negative]="account.marginLevel < 1">{{account.marginLevel | number:'1.2-2'}} %</td>
    <td *ngIf="account && !account.marginLevel">−</td>
  </tr>
  </tbody>
</table>
