@import "styles";

.positions {
  display: none;
}

.margin-info {
  width: 500px;
}

@media (max-width: 768px) {
  .margin-info {
    width: 100%;
  }
}

@media (max-width: 576px) {
  app-data-table {
    display: none;
  }

  .positions {
    display: block;

    .position {

    }
  }

}

