<h2 translate>Смена пароля</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <div class="form-field">
      <label for="current" class="field-label" translate>managePassword.form.label.current</label>
      <div class="input-wrapper">
        <input id="current" type="password" formControlName="currentPass">
        <div class="messages">
          <label *ngIf="form.get('currentPass').touched && form.get('currentPass').hasError('required')"
                 class="error-message" translate>
            managePassword.form.current.error.required
          </label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field">
      <label for="new" class="field-label" translate>managePassword.form.label.new</label>
      <div class="input-wrapper">
        <input id="new" type="password" formControlName="newPass">
        <div class="messages">
          <label *ngIf="form.get('newPass').touched && form.get('newPass').hasError('required')" class="error-message" translate>
            managePassword.form.new.error.required
          </label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field">
      <label for="confirm" class="field-label" translate>managePassword.form.label.confirm</label>
      <div class="input-wrapper">
        <input id="confirm" type="password" formControlName="confirmPass">
        <div class="messages">
          <label *ngIf="form.get('confirmPass').touched && form.get('confirmPass').hasError('required')"
                 class="error-message" translate>
            managePassword.form.confirm.error.required
          </label>
          <label *ngIf="form.get('confirmPass').touched && form.get('confirmPass').hasError('passwordMismatch')"
                 class="error-message" translate>
            managePassword.form.confirm.error.mismatch
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-container">
    <div class="result">
      <div *ngIf="isDone && !isSuccessful" class="negative" translate>Не удалось изменить пароль.</div>
      <div *ngIf="isDone && isSuccessful" class="positive" translate>Ваш пароль успешно изменен.</div>
    </div>
    <button type="submit" class="primary" translate>Сменить пароль</button>
  </div>
</form>
