<h2>{{'Смена пароля' | translate}}</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <div class="form-field">
      <label for="current" class="field-label">{{'Текущий пароль' | translate}}</label>
      <div class="input-wrapper">
        <input id="current" type="password" formControlName="currentPass">
        <div class="messages">
          <label *ngIf="form.get('currentPass').touched && form.get('currentPass').hasError('required')"
                 class="error-message">
            {{'Пожалуйста, введите текущий пароль' | translate}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field">
      <label for="new" class="field-label">{{'Новый пароль' | translate}}</label>
      <div class="input-wrapper">
        <input id="new" type="password" formControlName="newPass">
        <div class="messages">
          <label *ngIf="form.get('newPass').touched && form.get('newPass').hasError('required')" class="error-message">
            {{'Пожалуйста, введите новый пароль' | translate}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field">
      <label for="confirm" class="field-label">{{'Подтвердите пароль' | translate}}</label>
      <div class="input-wrapper">
        <input id="confirm" type="password" formControlName="confirmPass">
        <div class="messages">
          <label *ngIf="form.get('confirmPass').touched && form.get('confirmPass').hasError('required')"
                 class="error-message">
            {{'Пожалуйста, подтвердите новый пароль' | translate}}
          </label>
          <label *ngIf="form.get('confirmPass').touched && form.get('confirmPass').hasError('passwordMismatch')"
                 class="error-message">
            {{'Пароли не совпадают' | translate}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="primary">{{'Сменить пароль' | translate}}</button>
</form>
