<h2 translate>Смена пароля</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <div class="form-field">
      <label for="current" class="field-label" translate>Текущий пароль</label>
      <div class="input-wrapper">
        <input id="current" type="password" formControlName="currentPass">
        <div class="messages">
          <label *ngIf="form.get('currentPass').touched && form.get('currentPass').hasError('required')"
                 class="error-message" translate>
            Пожалуйста, введите текущий пароль
          </label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field">
      <label for="new" class="field-label" translate>Новый пароль</label>
      <div class="input-wrapper">
        <input id="new" type="password" formControlName="newPass">
        <div class="messages">
          <label *ngIf="form.get('newPass').touched && form.get('newPass').hasError('required')" class="error-message" translate>
            Пожалуйста, введите новый пароль
          </label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-field">
      <label for="confirm" class="field-label" translate>Подтвердите пароль</label>
      <div class="input-wrapper">
        <input id="confirm" type="password" formControlName="confirmPass">
        <div class="messages">
          <label *ngIf="form.get('confirmPass').touched && form.get('confirmPass').hasError('required')"
                 class="error-message" translate>
            Пожалуйста, подтвердите новый пароль
          </label>
          <label *ngIf="form.get('confirmPass').touched && form.get('confirmPass').hasError('passwordMismatch')"
                 class="error-message" translate>
            Пароли не совпадают
          </label>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="primary" translate>Сменить пароль</button>
</form>
