@import "styles";

form {
  max-width: 600px;
  margin-top: 40px;

  button[type='submit'] {
    float: right;
  }
}

@media (max-width: 576px) {
  form {
    max-width: none;
    margin-top: 40px;
    padding: 0 10px;

    button[type='submit'] {
      float: right;
    }
  }
}
