@import "styles";

app-mobile-data-view-strategies-closed {
  display: none;
}

@media (max-width: 768px) {
  app-data-table {
    display: none;
  }

  app-mobile-data-view-strategies-closed {
    display: block;
  }
}

