@import "styles";

.strategy-account {
  width: 200px;

  .strategy-account-intervalPnL {
    color: $text-color-dark;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
  }

  .strategy-account-target,
  .strategy-account-equity,
  .strategy-account-protection {
    color: $text-color-light;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
  }

  span:last-child {
    float: right;
  }
}

.total-cell {
  font-weight: bold;
}

td {
  &.name,
  &[class*='strategy.name'] {
    app-manage {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  th,
  td {
    &.yieldChart {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  th,
  td {
    padding: 15px 0 !important;

    &.manage {
      display: none;
    }

    &.name,
    &[class*='strategy.name'] {
      app-manage {
        display: block;
      }
    }

    a.detail-link {
      display: block !important;
      text-align: center !important;
      margin-bottom: 10px !important;
    }
  }
}
