<table>
  <thead>
  <tr *ngFor="let row of tableHeader">
    <th *ngFor="let column of row.columns"
        [attr.colspan]="column.colspan"
        [attr.rowspan]="column.rowspan"
        class="{{column.property}}"
        translate>
      {{column.label}}
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of data" [class.my]="shouldHighlightMyStrategies && item.isMy()">
    <ng-container *ngFor="let row of tableHeader">
      <ng-container *ngFor="let column of row.columns">
        <ng-container *ngIf="column.property || column.property === ''" >
          <td [ngSwitch]="column.property" class="{{column.property}}">
            <!-- Strategy special data -->
            <ng-container *ngSwitchCase="'age'">{{item.getAgeWeeks()}}</ng-container>

            <ng-container *ngSwitchCase="'name'">
              <a class="detail-link" [routerLink]="[getItemLink(item)]">{{item.name}}</a>
              <app-manage *ngIf="item.isActive()" [data]="item"></app-manage>
            </ng-container>

            <ng-container *ngSwitchCase="'strategy.name'">
              <a class="detail-link" [routerLink]="[getItemLink(item.strategy)]">{{item.strategy.name}}</a>
              <app-manage *ngIf="item.isActive()" [data]="item"></app-manage>
            </ng-container>

            <div class="strategy-account"
                 *ngSwitchCase="'investmentInfo'">
              <div class="strategy-account-intervalPnL">
                <span><span translate>Прибыль</span>:</span>
                <span [class.positive]="item.intervalPnL > 0"
                      [class.negative]="item.intervalPnL < 0">
                  {{item.intervalPnL | customCurrency}}
                </span>
              </div>
              <div class="strategy-account-target">
                <span><span translate>Цель</span>:</span>
                <span>{{item.getTargetAmount() | customCurrency}}</span>
              </div>
              <div class="strategy-account-equity">
                <span><span translate>Средства</span>:</span>
                <span>{{item.equity | customCurrency}}</span>
              </div>
              <div class="strategy-account-protection">
                <span><span translate>Защита</span>:</span>
                <span>{{item.getProtectionAmount() | customCurrency}}</span>
              </div>
            </div>

            <ng-container *ngSwitchCase="'manage'">
              <app-manage [data]="item"></app-manage>
            </ng-container>

            <!-- Investment special data-->
            <ng-container *ngSwitchCase="'investmentDetails'">
              <a [routerLink]="['/investments/details', item.id]"><i class="icon-doc"></i></a>
            </ng-container>

            <ng-container *ngSwitchCase="'type'">
              {{item.getType()}}
            </ng-container>

            <ng-container *ngSwitchCase="'entry'">
              {{item.getEntry()}}
            </ng-container>

            <ng-container *ngSwitchCase="'yieldChart'">
              <app-chart-yield-table [account]="item"></app-chart-yield-table>
            </ng-container>

            <ng-container *ngSwitchCase="''">
              ???
            </ng-container>

            <!-- Just show property value -->
            <ng-container *ngSwitchDefault>
              <span [class.positive]="getPropertyValue(item, column.property) > 0 && isColored(column.property)"
                    [class.negative]="getPropertyValue(item, column.property) < 0 && isColored(column.property)">
                {{getPropertyValue(item, column.property) | dynamic:column.pipe.pipe:column.pipe.args}}
              </span>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
  </tr>

  <tr *ngIf="totalFields && data">
    <ng-container *ngFor="let row of tableHeader">
      <ng-container *ngFor="let column of row.columns; let i = index">
        <td class="total-cell" *ngIf="i === 0" translate>Всего</td>
        <ng-container *ngIf="isTotal(column.property) && i > 0">
          <td class="total-cell"
              [class.positive]="getTotal(column.property) > 0 && isColored(column.property)"
              [class.negative]="getTotal(column.property) < 0 && isColored(column.property)">
            {{getTotal(column.property) | number:'1.0-2'}}
          </td>
        </ng-container>
        <ng-container *ngIf="!isTotal(column.property) && i > 0">
          <td></td>
        </ng-container>
      </ng-container>
    </ng-container>
  </tr>
  </tbody>
</table>

<div *ngIf="paginator" class="pagination-container">
  <app-data-table-paginator [paginator]="paginator" (paginationChanged)="paginatorChanged()"></app-data-table-paginator>
</div>
