@import "styles";

.nameRating {
  .symbols {
    font-size: 12px;
    color: rgba(0,0,0,.54);
    white-space: nowrap;
    margin-top: 15px;
  }
}

td.investmentInfo {
  background-color: $background-color;
}

.strategy-account {
  width: 200px;

  .strategy-account-intervalPnL {
    color: $text-color-dark;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;

    &>span:last-child {
      float: right;
    }
  }

  .strategy-account-target,
  .strategy-account-equity,
  .strategy-account-protection {
    color: $text-color-light;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;

    &>span:last-child {
      float: right;
    }
  }
}

.total-cell {
  font-weight: bold;
}

tr.my {
  background-color: $background-color;
}

.empty-data {
  text-align: center;
  font-weight: bold;

}

td {
  &.name,
  &[class*='strategy.name'] {
    app-manage {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  th,
  td {
    &.yieldChart {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  table,
  .pagination-container {
    display: none;
  }
}
