<table>
  <thead>
  <tr *ngFor="let row of tableHeader">
    <th *ngFor="let column of row.columns"
        [attr.colspan]="column.colspan"
        [attr.rowspan]="column.rowspan"
        class="{{column.property + ' hint-container'}}"
        [class.colored]="column.colored">
      <span translate>{{column.label}}</span>
      <span *ngIf="column.hint" class="hint">
        *
        <div
             *ngIf="column.hint"
             class="hint-content"
             [innerText]="column.hint"
             translate></div>
      </span>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of data" [class.my]="shouldHighlightMyStrategies && item.isMy()">
    <ng-container *ngFor="let row of tableHeader">
      <ng-container *ngFor="let column of row.columns">
        <ng-container *ngIf="column.property || column.property === ''">
          <td [ngSwitch]="column.property"
              class="{{column.property === 'strategy.investmentInfo' ? '' : column.property}} {{column.property === 'strategy.investmentInfo' && item.account ? 'investmentInfo' : ''}}"
              [class.colored]="column.colored"
              [ngStyle]="{'font-size': column.fontSize+'px'}">
            <!-- Strategy special data -->
            <ng-container *ngSwitchCase="'age'">{{item.getAgeWeeks()}}</ng-container>

            <ng-container *ngSwitchCase="'account.id'">
              <a class="detail-link" [routerLink]="[getItemLink(item)]">{{item.id}}</a>
            </ng-container>

            <ng-container *ngIf="item.strategy">
              <ng-container *ngSwitchCase="'id'">
                <a class="detail-link" [routerLink]="[getItemLink(item)]">{{item.id}}</a>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'name'">
              <a class="detail-link" [routerLink]="[getItemLink(item)]">{{item.name}}</a>
              <div class="master-account" *ngIf="item.masterAccount" [title]="'table.cell.accountNumberCopy' | translate">
                {{item.masterAccount}}
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'accountID'">
              <a class="detail-link"
                 [routerLink]="['/investments/details', item.accountID, 'deals']">{{item.accountID}}</a>
            </ng-container>

            <ng-container *ngSwitchCase="'nameRating'">
              <a class="detail-link" [routerLink]="[getItemLink(item)]">{{item.name}}</a>
              <div class="symbols">{{item.symbols}}</div>
            </ng-container>

            <ng-container *ngSwitchCase="'DTCreated'">
              <span [innerText]="item['dTCreated'] | dynamic:column.pipe.pipe:column.pipe.args"></span>
            </ng-container>
            <ng-container *ngSwitchCase="'commissionRate'">
              <span [innerText]="item.getComission()"></span>
            </ng-container>

            <ng-container *ngSwitchCase="'strategy.name'">
              <a class="detail-link" [routerLink]="[getItemLink(item.strategy)]">{{item.strategy.name}}</a>
              <div class="symbols">{{item.strategy.symbols}}</div>
            </ng-container>

            <ng-container *ngSwitchCase="'walletTransferStrategy'">
              <a *ngIf="item.strategyID" [routerLink]="['/strategies/details', item.strategyID]"
                 class="detail-link">{{item.strategyName}}</a>
            </ng-container>

            <ng-container *ngSwitchCase="'walletTransferAmount'">
              <div>{{item.amount | customCurrency}}</div>
              <div class="wallet-transfer-comment" *ngIf="item.comment">{{item.comment}}</div>
            </ng-container>

            <div class="strategy-account"
                 *ngSwitchCase="'investmentInfo'">
              <div class="strategy-account-intervalPnL hint-container">
                <span>
                  <span translate>common.table.label.yield</span>
                   <span *ngIf="column.hint" class="hint">
                    *
                    <div
                      *ngIf="column.hint"
                      class="hint-content"
                      [innerText]="column.hint"
                      translate></div>
                  </span>:
                </span>

                <span class="{{item.getColorClass('intervalPnL')}}">
                  {{item.intervalPnL | customCurrency}}
                </span>
              </div>
              <div class="strategy-account-target" *ngIf="functionality['targetShow']">
                <span><span translate>common.target</span>:</span>
                <span>{{item.targetEquity | customCurrency}}</span>
              </div>
              <div class="strategy-account-equity">
                <span><span translate>common.equity</span>:</span>
                <span>{{item.equity | customCurrency}}</span>
              </div>
              <div class="strategy-account-protection" *ngIf="functionality['protectionShow']">
                <span><span translate>common.protection</span>:</span>
                <span>{{item.protectionEquity | customCurrency}}</span>
              </div>
            </div>

            <div class="strategy-account"
                 *ngSwitchCase="'strategy.investmentInfo'">
              <ng-container class="investmentInfo" *ngIf="item.account && item.account.id">
                <div class="strategy-account-intervalPnL hint-container">
                  <span><span translate>common.table.label.yield</span>
                     <span *ngIf="column.hint" class="hint">
                      *
                      <div
                        *ngIf="column.hint"
                        class="hint-content"
                        [innerText]="column.hint"
                        translate></div>
                    </span>:
                  </span>

                  <span [class.positive]="item.account.intervalPnL > 0" [class.negative]="item.account.intervalPnL < 0">
                  {{item.account.intervalPnL | customCurrency}}
                </span>
                </div>
                <div class="strategy-account-target" *ngIf="functionality['targetShow']">
                  <span><span translate>common.target</span>:</span>
                  <span>{{item.account.targetEquity | customCurrency}}</span>
                </div>
                <div class="strategy-account-equity">
                  <span><span translate>common.equity</span>:</span>
                  <span>{{item.account.equity | customCurrency}}</span>
                </div>
                <div class="strategy-account-protection" *ngIf="functionality['protectionShow']">
                  <span><span translate>common.protection</span>:</span>
                  <span>{{item.account.protectionEquity | customCurrency}}</span>
                </div>
              </ng-container>
            </div>

            <ng-container *ngSwitchCase="'manage'">
              <app-manage [data]="item"
                          (click)="onRowManageClick($event)"
                          [methodName]="methodName" [methodArgs]="methodArgs"></app-manage>
            </ng-container>

            <ng-container *ngSwitchCase="'offerManage'">
              <app-manage [data]="item"
                          (click)="onRowManageClick($event)"
                          [methodName]="methodName" [methodArgs]="methodArgs"></app-manage>
            </ng-container>

            <!-- Investment special data-->
            <ng-container *ngSwitchCase="'investmentDetails'">
              <a [routerLink]="['/investments/details', item.id]"><i class="icon-doc"></i></a>
            </ng-container>

            <ng-container *ngSwitchCase="'type'">
              <span translate>
                {{item.getType()}}
              </span>
            </ng-container>

            <ng-container *ngSwitchCase="'entry'">
              {{item.getEntry()}}
            </ng-container>

            <ng-container *ngSwitchCase="'volume'">
              {{item.volume | number:'1.4-4'}}
            </ng-container>

            <ng-container *ngSwitchCase="'price'">
              {{item.price | number:'1.6-6'}}
            </ng-container>

            <ng-container *ngSwitchCase="'currentPrice'">
              {{item.currentPrice | number:'1.6-6'}}
            </ng-container>

            <ng-container *ngSwitchCase="'yieldChart'">
              <app-chart-yield-table *ngIf="item.strategy" [strategy]="item.strategy"></app-chart-yield-table>
            </ng-container>

            <ng-container *ngSwitchCase="'OfferStatus'">
              <span translate>
                {{item.getStatus()}}
              </span>
            </ng-container>

            <ng-container *ngSwitchCase="'IsPublic'">
             <span translate
                   [innerText]="item['IsPublic'] ? 'table.content.yes' : 'table.content.no'"></span>
            </ng-container>

            <ng-container *ngSwitchCase="'strategy.yieldChart'">
              <app-chart-yield-table [strategy]="item"></app-chart-yield-table>
            </ng-container>

            <ng-container *ngSwitchCase="''">
              ???
            </ng-container>

            <!-- Just show property value -->
            <ng-container *ngSwitchDefault>
              <span [class.positive]="getPropertyValue(item, column.property) > 0 && isColored(column.property)"
                    [class.negative]="getPropertyValue(item, column.property) < 0 && isColored(column.property)">
                {{getPropertyValue(item, column.property) | dynamic:column.pipe.pipe:column.pipe.args}}
              </span>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
  </tr>

  <tr *ngIf="totals && data.length">
    <ng-container *ngFor="let row of tableHeader">
      <ng-container *ngFor="let column of row.columns; let i = index">
        <td class="total-cell" *ngIf="i === 0" translate>table.cell.total</td>
        <td class="total-cell"
            *ngIf="i > 0"
            [class.positive]="totals[column.property] > 0 && isColored(column.property)"
            [class.negative]="totals[column.property] < 0 && isColored(column.property)">

          <span [ngSwitch]="column.property">
            <span *ngSwitchCase="'commission'">
              {{ (totals[column.property] || 0).toFixed(2)}}
            </span>
            <span *ngSwitchCase="'swap'">
              {{ (totals[column.property] || 0).toFixed(2)}}
            </span>
            <span *ngSwitchDefault>
              {{totals[column.property]}}
            </span>
          </span>

        </td>
      </ng-container>
    </ng-container>
  </tr>

  <tr *ngIf="totalFields && data && data.length">
    <ng-container *ngFor="let row of tableHeader">
      <ng-container *ngFor="let column of row.columns; let i = index">
        <td class="total-cell" *ngIf="i === 0" translate>table.cell.total</td>
        <ng-container *ngIf="isTotal(column.property) && i > 0">
          <td class="total-cell"
              *ngIf="column.property !== 'accounts'"
              [class.positive]="getTotal(column.property) > 0 && isColored(column.property)"
              [class.negative]="getTotal(column.property) < 0 && isColored(column.property)">
            {{getTotal(column.property) | customCurrency}}
          </td>
          <td class="total-cell"
              *ngIf="column.property === 'accounts'">
            {{getTotal(column.property)}}
          </td>
        </ng-container>
        <ng-container *ngIf="!isTotal(column.property) && i > 0">
          <td></td>
        </ng-container>
      </ng-container>
    </ng-container>
  </tr>
  </tbody>
</table>

<div class="empty-data" *ngIf="!data" translate>
  table.cell.loading
</div>

<div class="empty-data" *ngIf="data && !data.length" translate>
  {{emptyDataText}}
</div>

<div *ngIf="paginator" class="pagination-container">
  <app-data-table-paginator [paginator]="paginator" (paginationChanged)="paginatorChanged()"></app-data-table-paginator>
</div>
