<div class="details-container">
  <div class="strategy">
    <h2 translate>Стратегия</h2>
    <table>
      <tbody>
      <tr>
        <td>ID</td>
        <td *ngIf="strategy">{{strategy.id}}</td>
      </tr>
      <tr>
        <td translate>Название</td>
        <td *ngIf="strategy"><a [routerLink]="['/strategies/details', strategy.id]">{{strategy.name}}</a></td>
      </tr>
      <tr>
        <td translate>Комиссия</td>
        <td *ngIf="strategy">{{strategy.offer.getComission()}}</td>
      </tr>
      <tr>
        <td translate>Вознаграждение</td>
        <td *ngIf="strategy">{{strategy.offer.fee | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td translate>Период оплаты</td>
        <td>1 <span translate>неделя</span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="investment">
    <h2 translate>Инвестиция</h2>
    <table>
      <tbody>
      <tr>
        <td>ID</td>
        <td *ngIf="account">{{account.id}}</td>
      </tr>
      <tr>
        <td translate>Создана</td>
        <td *ngIf="account">{{account.dtCreated | date:'yyyy-MM-dd hh:mm:ss' }}</td>
      </tr>
      <tr *ngIf="account && !account.isActive()">
        <td translate>Закрыта</td>
        <td>{{account.dtClosed | date:'yyyy-MM-dd hh:mm:ss' }}</td>
      </tr>
      <tr>
        <td translate>Валюта</td>
        <td *ngIf="account">{{account.asset}}</td>
      </tr>
      <tr>
        <td translate>Плечо</td>
        <td *ngIf="account">1:{{account.leverageMax}}</td>
      </tr>
      <tr>
        <td translate>StopOut</td>
        <td *ngIf="account">{{account.MCLevel}}%</td>
      </tr>
      <tr>
        <td translate>Статус</td>
        <td *ngIf="account">{{account.getState()}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="profile">
    <h2 translate>Инвестиционный профиль</h2>
    <table>
      <tbody>
      <tr>
        <td translate>Множитель</td>
        <td *ngIf="account">{{account.factor | number:'1.1-1'}}</td>
      </tr>
      <tr>
        <td translate>Цель</td>
        <td *ngIf="account">{{account.target | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td translate>Защита</td>
        <td *ngIf="account">{{account.protection | percent:'1.0-2'}}</td>
      </tr>
      <tr><td></td><td></td></tr>
      <tr>
        <td><span translate>Цель</span>, USD</td>
        <td *ngIf="account">{{account.getTargetAmount() | customCurrency}}</td>
      </tr>
      <tr>
        <td><span translate>Защита</span>, USD</td>
        <td *ngIf="account">{{account.getProtectionAmount() | customCurrency}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="manage-container">
    <app-manage *ngIf="account && account.isActive()" [data]="account"></app-manage>
  </div>
</div>

<app-content-tabs [links]="links">
  <router-outlet></router-outlet>
</app-content-tabs>
