<div class="details-container">
  <div class="strategy">
    <h2 translate>Стратегия</h2>
    <table>
      <tbody>
      <tr>
        <td>ID</td>
        <td *ngIf="strategy">{{strategy.id}}</td>
      </tr>
      <tr>
        <td translate>Название</td>
        <td *ngIf="strategy"><a [routerLink]="['/strategies/details', strategy.id]">{{strategy.name}}</a></td>
      </tr>
      <tr>
        <td translate>Комиссия</td>
        <td *ngIf="strategy">{{strategy.offer.getComission()}}</td>
      </tr>
      <tr>
        <td translate>Вознаграждение</td>
        <td *ngIf="strategy">{{strategy.offer.fee | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td translate>Период оплаты</td>
        <td>1 <span translate>неделя</span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="investment">
    <h2 translate>Инвестиция</h2>
    <table>
      <tbody>
      <tr>
        <td>ID</td>
        <td *ngIf="account">{{account.id}}</td>
      </tr>
      <tr>
        <td translate>Создана</td>
        <td *ngIf="account">{{account.dtCreated | customDate }}</td>
      </tr>
      <tr *ngIf="account && !account.isActive()">
        <td translate>Закрыта</td>
        <td>{{account.dtClosed | customDate }}</td>
      </tr>
      <tr>
        <td translate>Валюта</td>
        <td *ngIf="account">{{account.asset}}</td>
      </tr>
      <tr>
        <td translate>Плечо</td>
        <td *ngIf="account">1:{{account.leverageMax}}</td>
      </tr>
      <tr>
        <td translate>StopOut</td>
        <td *ngIf="account">{{account.MCLevel}}%</td>
      </tr>
      <tr>
        <td translate>Статус</td>
        <td *ngIf="account">{{account.getState()}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="profile">
    <h2 translate>Инвестиционный профиль</h2>
    <table>
      <tbody>
      <tr>
        <td translate>Множитель</td>
        <td *ngIf="account">{{account.factor | number:'1.1-1'}}</td>
      </tr>
      <tr *ngIf="functionality['targetShow']">
        <td translate>Цель</td>
        <td *ngIf="account">{{account.target | percent:'1.0-2'}}</td>
      </tr>
      <tr *ngIf="functionality['protectionShow']">
        <td translate>Защита</td>
        <td *ngIf="account">{{account.protection | percent:'1.0-2'}}</td>
      </tr>
      <tr *ngIf="functionality['targetShow'] && functionality['protectionShow']"><td></td><td></td></tr>
      <tr *ngIf="functionality['targetShow']">
        <td><span translate>Цель</span>, USD</td>
        <td *ngIf="account">{{account.getTargetAmount() | customCurrency}}</td>
      </tr>
      <tr *ngIf="functionality['protectionShow']">
        <td><span translate>Защита</span>, USD</td>
        <td *ngIf="account">{{account.getProtectionAmount() | customCurrency}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="manage-container">
    <div class="text-right">
      <div *ngIf="account" class="mb-1"><span translate>Обновлено</span> {{account.currentDate | customDate}}</div>
      <div *ngIf="account && !account.isMyAccount">
        <span translate>Данная инвестиция принадлежит инвестору Вашей стратегии.</span><br>
        <span translate>Полный функционал доступен только владельцу инвестиции.</span>
      </div>
    </div>
    <app-manage *ngIf="account && account.isMyAccount && account.isActive()" [data]="account" [methodName]="'getAccountStatement'" [methodArgs]="args" [hideInvestmentsButton]="!account.strategy.isMyStrategy"></app-manage>
  </div>
</div>

<app-content-tabs [links]="links" (change)="getAccountStatement()">
  <router-outlet></router-outlet>
</app-content-tabs>

<table class="margin-info">
  <tbody>
  <tr>
    <td><span translate>Средства</span>, USD</td>
    <td *ngIf="account">{{account.equity | customCurrency}}</td>
    <td><span translate>Баланс</span>, USD</td>
    <td *ngIf="account">{{account.balance | customCurrency}}</td>
  </tr>
  <tr>
    <td><span translate>Свободная маржа</span>, USD</td>
    <td *ngIf="account" class="{{account.getColorClass('freeMargin')}}">{{account.freeMargin | customCurrency}}</td>
    <td><span translate>Маржа</span>, USD</td>
    <td *ngIf="account">{{account.margin | customCurrency}}</td>
  </tr>
  <tr>
    <td translate>Уровень маржи</td>
    <td *ngIf="account && account.marginLevel" [class.positive]="account.marginLevel >= 1" [class.negative]="account.marginLevel < 1">{{account.marginLevel | number:'1.2-2'}} %</td>
    <td *ngIf="account && !account.marginLevel">−</td>
  </tr>
  </tbody>
</table>
