.details-container {
  display: flex;
  position: relative;

  .strategy,
  .investment,
  .profile {
    flex: 1 1 100%;

    table {
      tbody {
        tr {
          td {
            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .manage-container {
    position: absolute;
    right: 0;
    bottom: -40px;
  }
}
