<div class="details-container">
  <div class="strategy">
    <h2>Стратегия</h2>
    <table>
      <tbody>
      <tr>
        <td>ID</td>
        <td>{{account.strategy.id}}</td>
      </tr>
      <tr>
        <td>Название</td>
        <td><a [routerLink]="['/strategies/details', account.strategy.id]">{{account.strategy.name}}</a></td>
      </tr>
      <tr>
        <td>Комиссия</td>
        <td *ngIf="strategy">{{strategy.offer.commission}} USD / mln (How to calculate???)</td>
      </tr>
      <tr>
        <td>Вознаграждение</td>
        <td *ngIf="strategy">{{strategy.offer.fee | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Период оплаты</td>
        <td>1 неделя</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="investment">
    <h2>Инвестиция</h2>
    <table>
      <tbody>
      <tr>
        <td>ID</td>
        <td>{{account.id}}</td>
      </tr>
      <tr>
        <td>Создана</td>
        <td>{{account.dtCreated | date:'yyyy-MM-dd hh:mm:ss' }}</td>
      </tr>
      <tr *ngIf="!account.isActive()">
        <td>Закрыта</td>
        <td>{{account.dtClosed | date:'yyyy-MM-dd hh:mm:ss' }}</td>
      </tr>
      <tr>
        <td>Валюта</td>
        <td>{{account.asset}}</td>
      </tr>
      <tr>
        <td>Плечо</td>
        <td>???</td>
      </tr>
      <tr>
        <td>Стоп</td>
        <td>protection ???</td>
      </tr>
      <tr>
        <td>Статус</td>
        <td>{{account.getStatus()}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="profile">
    <h2>Инвестиционный профиль</h2>
    <table>
      <tbody>
      <tr>
        <td>Множитель</td>
        <td>{{account.factor}}</td>
      </tr>
      <tr>
        <td>Цель</td>
        <td>{{account.target | percent:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>Защита</td>
        <td>{{account.protection | percent:'1.0-2'}}</td>
      </tr>
      <tr><td></td><td></td></tr>
      <tr>
        <td>Цель, USD</td>
        <td>{{account.getTargetAmount() | customCurrency}}</td>
      </tr>
      <tr>
        <td>Защита, USD</td>
        <td>{{account.getProtectionAmount() | customCurrency}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="manage-container">
    <app-manage *ngIf="account.isActive()" [data]="account"></app-manage>
  </div>
</div>

<app-content-tabs [links]="links">
  <router-outlet></router-outlet>
</app-content-tabs>
