<div class="search-container" [class.filled]="!!searchText">
  <input placeholder="{{'rating.search.placeholder' | translate}}" class="search" [(ngModel)]="searchText" (keyup.enter)="getRating()">
  <span class="search-clear" (click)="searchText = ''; getRating()"><i class="icon-close"></i></span>
  <button class="primary search-button" (click)="getRating()">
    <i class="fa fa-search"></i>
  </button>
</div>

<div class="rating-content-container"
    *ngIf="optionsRatings$ | async as options">
  <p translate>rating.message</p>

  <app-data-table
    [tableHeader]="tableHeader"
    [data]="strategies$ | async"
    [paginator]="paginator"
    [shouldHighlightMyStrategies]="true"
    (paginationChanged)="getStrategies()"
    [methodName]="'getStrategies'"
    [section]="section"
    [methodArgs]="args">
  </app-data-table>

  <app-mobile-data-view-rating
    [strategies]="strategies$ | async"
    [paginator]="paginator"
    (paginationChanged)="getStrategies()"
    [methodName]="'getStrategies'"
    [methodArgs]="args">
  </app-mobile-data-view-rating>
</div>
