<div class="search-container" [class.filled]="!!searchText">
  <input placeholder="{{'rating.search.placeholder' | translate}}" class="search" [(ngModel)]="searchText" (keyup.enter)="search()">
  <span class="search-clear" (click)="searchText = ''; search()"><i class="icon-close"></i></span>
  <button class="primary search-button" (click)="search()">
    <i class="fa fa-search"></i>
  </button>
</div>

<div class="rating-content-container"
    *ngIf="ratingPopular$ | async as options">
  <p translate>rating.message</p>

  <app-data-table
    *ngIf="!settingsService.isMobile"
    [tableHeader]="tableHeader"
    [data]="strategies$ | async"
    [paginator]="paginator"
    [shouldHighlightMyStrategies]="true"
    (paginationChanged)="getRating()"
    [section]="section"
    [key]="key">
  </app-data-table>

  <div *ngIf="update$ | async"></div>

  <app-mobile-data-view-rating
    *ngIf="settingsService.isMobile"
    [strategies]="strategies$ | async"
    [paginator]="paginator"
    (paginationChanged)="getRating()"
    [section]="section"
    [key]="key">
  </app-mobile-data-view-rating>
</div>
