<div class="paginator-container">
  <div class="info-container">
    <div class="per-page-container" translate>
      {{'Показывать на странице' | translate}}:
      <input type="number"
             #perPageInput
             [value]="paginator.perPage"
             [min]="1"
             [max]="100"
             (change)="changePerPage($event.target.value)">
    </div>

    <div class="total-container">{{'Всего записей' | translate}}: {{paginator.totalItems}}</div>
  </div>

  <div class="pages-container" *ngIf="paginator.totalPages > 1">
    <a class="prev-page"
       [class.disabled]="paginator.currentPage === 1"
       (click)="selectPage(paginator.currentPage - 1)" translate>Предыдущая</a>
    <ng-container *ngFor="let page of getPages(); let i = index">
      <a [class.current-page]="page === paginator.currentPage"
         class="page-number"
         (click)="selectPage(page)"
         *ngIf="page !== '...'">{{page}}</a>
      <span class="dots" *ngIf="page === '...'">{{page}}</span>
    </ng-container>
    <a class="next-page"
       [class.disabled]="paginator.currentPage === paginator.totalPages"
       (click)="selectPage(paginator.currentPage + 1)" translate>Следующая</a>
  </div>
</div>
