<div class="accounts">
  <div class="account" [class.my]="account.isMy()"  *ngFor="let account of accounts">
    <div class="caption">
      <a [routerLink]="['/investments/details', account.id]">{{account.id}}</a>
    </div>

    <div class="info">
      <div class="item">
        <span translate>investment.details.investment.created</span>
        <span>{{account.dtCreated | customDate}}</span>
      </div>

      <div class="item">
        <span translate>investment.details.investment.closed</span>
        <span>{{account.dtClosed | customDate}}</span>
      </div>

      <div class="item">
        <span translate>common.age</span>
        <span>{{account.getAgeWeeks()}}</span>
      </div>

      <div class="item">
        <span translate>common.profit-and-loss</span>
        <span translate>{{account.profitCurrentIntervalGross | customCurrency}}</span>
      </div>
    </div>

  </div>
</div>

<app-data-table-paginator [paginator]="paginator" (paginationChanged)="paginatorChanged()"></app-data-table-paginator>
