@media (max-width: 600px) {
  .rating-content-container {
    margin-top: 40px;
  }

  .search-container {
    position: static;
    margin-top: 30px;

    input.search {
      width: auto;
      flex-grow: 1;
    }
  }
}
