<app-dialog-wrapper [modalRef]="modalRef"
                    titleText="Шаг {{currentStep}}: {{currentStep === 1 ? 'Параметры стратегии' : 'Параметры инвестиции'}}">

  <form [formGroup]="formStep1" *ngIf="currentStep === 1">
    <div class="form-field">
      <label for="name" class="field-label">Название стратегии:</label>
      <div class="input-wrapper">
        <input id="name" formControlName="name" (change)="isStrategyNameUniq($event.target.value)">
        <div class="messages">
          <label *ngIf="formStep1.get('name').touched && formStep1.get('name').hasError('required')"
                 class="error-message">
            Введите название стратегии
          </label>
          <label *ngIf="formStep1.get('name').touched && formStep1.get('name').hasError('isUniq')"
                 class="error-message">
            Данное имя стратегии уже используется. Пожалуйста, введите другое имя.
          </label>
          <label class="details-message">Название стратегии может быть изменено только в течение первых 1 недель.</label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="fee" class="field-label">Вознаграждение, %:</label>
      <div class="input-wrapper">
        <input id="fee" type="number" formControlName="fee" [min]="0" [max]="50">
        <div class="messages">
          <label *ngIf="formStep1.get('fee').touched && formStep1.get('fee').hasError('min')" class="error-message">
            Минимальный размер вознаграждения - 0
          </label>
          <label *ngIf="formStep1.get('fee').touched && formStep1.get('fee').hasError('max')" class="error-message">
            Максимальный размер вознаграждения — 50% в неделю
          </label>
          <label class="details-message">Изменение вознаграждения после создания стратегии невозможно.</label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="comission" class="field-label">Комиссия за оборот, USD / 1mln.:</label>
      <div class="input-wrapper">
        <input id="comission" type="number" formControlName="comission" [min]="0" [max]="100">
        <div class="messages">
          <label *ngIf="formStep1.get('comission').touched && formStep1.get('comission').hasError('min')"
                 class="error-message">
            Минимальная комиссия за оборот — 0
          </label>
          <label *ngIf="formStep1.get('comission').touched && formStep1.get('comission').hasError('max')"
                 class="error-message">
            Максимальная комиссия за оборот — 100 USD
          </label>
          <label class="details-message">
            В дополнение к вознаграждению от прибыли вы можете задать комиссию за оборот ваших инвесторов.
            Величина комиссии не может быть изменена после создания стратегии.
          </label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="isShared" class="field-label">Shared Strategy</label>
      <div class="input-wrapper">
        <input id="isShared" type="checkbox" formControlName="isShared">
        <div class="messages">
          <label class="details-message">
            Опция Shared Strategy позволяет <a>копировать вашу стратегию другим брокерам.</a>
          </label>
        </div>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary" (click)="isStrategyNameUniq(formStep1.get('name').value, true)" [disabled]="!formStep1.valid">Дальше</button>
    </div>
  </form>

  <form [formGroup]="formStep2" *ngIf="currentStep === 2">
    <div class="form-field">
      <label for="money" class="field-label">Сумма инвестиции, USD:</label>
      <div class="input-wrapper">
        <input id="money" type="number" formControlName="money" [min]="0" [max]="wallet.balance">
        <div class="messages">
          <label *ngIf="formStep2.get('money').touched && formStep2.get('money').hasError('min')" class="error-message">
            Пожалуйста, введите корректную сумму инвестиции.
          </label>
          <label *ngIf="formStep2.get('money').touched && formStep2.get('money').hasError('max')" class="error-message">
            Вы можете инвестировать только свободные средства.
          </label>
          <label class="details-message">
            Доступно: <span class="available-clickable" (click)="setAllMoney()">{{wallet.getAvailableMoney() | customCurrency}}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="target" class="field-label">Цель, %:</label>
      <div class="input-wrapper">
        <input id="target" type="number" formControlName="target" [min]="0">
        <div class="messages">
          <label *ngIf="formStep2.get('target').touched && formStep2.get('target').hasError('min')" class="error-message">
            Минимальный размер Цели - 0%
          </label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="protection" class="field-label">Защита, %:</label>
      <div class="input-wrapper">
        <input id="protection" type="number" formControlName="protection" [min]="0" [max]="99">
        <div class="messages">
          <label *ngIf="formStep2.get('protection').touched && formStep2.get('protection').hasError('min')"
                 class="error-message">
            Минимальный размер защиты - 0%
          </label>
          <label *ngIf="formStep2.get('protection').touched && formStep2.get('protection').hasError('max')"
                 class="error-message">
            Максимальный размер защиты - 99%
          </label>
          <label class="details-message">
            В дополнение к вознаграждению от прибыли вы можете задать комиссию за оборот ваших инвесторов.
            Величина комиссии не может быть изменена после создания стратегии.
          </label>
        </div>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary inverted" (click)="back()">Назад</button>
      <button (click)="submitStep2()" class="primary" [disabled]="!formStep2.valid">Создать стретегию</button>
    </div>
  </form>

</app-dialog-wrapper>

