.details-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;

  &>*{
    width: 50%;
  }

  table {
    width: 80%;
  }

    .investment,
    .profile {

      table {
        tbody {
          tr {
            td {
              padding: 0 20px;
              height: 30px;

              &:last-child {
                text-align: right;
              }
            }
          }
          h2{
            margin-top: 20px;
          }
        }
      }
    }

    .profile table {
      padding-right: 0 !important;
    }

    .manage-container {
      position: absolute;
      right: 0;
      bottom: -40px;
      display: flex;
      align-items: center;
    }
  }
