<app-dialog-wrapper titleText="Возобновить инвестицию" [modalRef]="modalRef">
  <form [formGroup]="form">

    <div class="form-field">
      <label for="amount" class="field-label">Добавить в инвестицию, USD:</label>
      <div class="input-wrapper">
        <input id="amount"
               type="number"
               formControlName="amount"
               [min]="0"
               [max]="wallet.balance">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('required')">
            Пожалуйста, введите сумму инвестиции.
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('min')">
            Пожалуйста, введите корректную сумму инвестиции.
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('max')">
            Вы можете инвестировать только свободные средства.
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('pattern')">
            Пожалуйста, введите корректную сумму вывода.
          </label>
          <label class="details-message">
            Доступно: <span class="available-clickable" (click)="setAllMoney()">{{wallet.getAvailableMoney() | customCurrency}}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="factor" class="field-label">Множитель:</label>
      <div class="input-wrapper">
        <input id="factor"
               type="number"
               formControlName="factor"
               [min]="-1000"
               [max]="1000"
               title="Коэффициент копирования. При соотношении более 1,0 копирование идет более агрессивно; увеличивается не только потенциальный доход, но и риск потери. Когда коэффициент меньше 1,0 - наоборот">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('factor').touched && form.get('factor').hasError('incorrect')">
            Пожалуйста, введите корректное значение множителя.
          </label>
          <label class="error-message"
                 *ngIf="form.get('factor').touched && form.get('factor').hasError('min')">
            Максимальное значение множителя - -1000.
          </label>
          <label class="error-message"
                 *ngIf="form.get('factor').touched && form.get('factor').hasError('max')">
            Максимальное значение множителя - 1000.
          </label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="target" class="field-label">Цель, %:</label>
      <div class="input-wrapper">
        <input id="target"
               type="number"
               formControlName="target"
               [min]="0"
               [max]="100"
               title="Целевой доход. При достижении целевого дохода инвестиция будет приостановлена">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('target').touched && form.get('target').hasError('required')">
            Цель не задана
          </label>
          <label class="error-message"
                 *ngIf="form.get('target').touched && form.get('target').hasError('min')">
            Пожалуйста, введите корректное значение цели.
          </label>
          <label class="details-message" *ngIf="form.get('amount').value && form.get('target').value">
            {{((form.get('amount').value * form.get('target').value) / 100) | customCurrency}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="protection" class="field-label">Защита, %:</label>
      <div class="input-wrapper">
        <input id="protection"
               type="number"
               formControlName="protection"
               [min]="0"
               [max]="100"
               title="При снижении средств до заданного значения инвестиция будет приостановлена">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('protection').touched && form.get('protection').hasError('required')">
            Защита не задана
          </label>
          <label class="error-message"
                 *ngIf="form.get('protection').touched && form.get('protection').hasError('min')">
            Пожалуйста, введите корректное значение защиты.
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('max')">
            Пожалуйста, введите корректное значение защиты.
          </label>
          <label class="details-message" *ngIf="form.get('amount').value && form.get('protection').value">
            {{((form.get('amount').value * form.get('protection').value) / 100) | customCurrency}}
          </label>
        </div>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary" (click)="resume()" [disabled]="!form.valid">Ок</button>
      <button class="primary" (click)="cancel()">Отмена</button>
    </div>
  </form>
</app-dialog-wrapper>
