@import "styles/icons";

$main-color: #e4e5e6;
$text-color: #808083;
$text-color-dark: rgba(0,0,0,.87);
$text-color-light: rgba(0,0,0,.54);
$border-color: #e1dddd;
$accent-color: #f7a35c;
$negative-color: #ec151d;
$positive-color: #00a651;

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('/assets/fonts/ProximaNova-Regular.eot');
  src: url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif !important;
}

body {
  margin: 0;
  line-height: 16px !important;
  font-size: 14px !important;

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

button {
  border: 1px solid $accent-color;
  text-transform: uppercase !important;
  height: 40px;
  font-size: 14px;

  &.primary {
    background-color: $positive-color;
    color: white;
  }

  &.block {
    display: block;
    width: 100%;
  }
}

ul.dropdown-menu.langmenu {
  min-width: 0;
  padding: 0;

  .divider {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 10px;
    cursor: pointer;

    i.icon-flag {
      display: block;
    }
  }
}
.form-field {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

  label.field-label {
    font-size: 14px;
    flex-grow: 1;
    text-align: right;
    margin-bottom: 0;
  }

  .input-wrapper {
    max-width: 400px;
    width: 100%;
    margin-left: 15px;
    position: relative;

    input {
      height: 30px;
      font-size: 14px;
      width: 100%;
      padding: 0 5px;
      border: 1px solid $text-color-light;

      &.ng-touched.ng-invalid {
        border: 1px solid $negative-color;
      }
    }

    label.error-message {
      color: $negative-color;
      font-size: 12px;
      margin-bottom: 0;
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }
}

h2 {
  font-size: 24px !important;
  line-height: 32px !important;
}
