<app-data-table
  [tableHeader]="tableHeader"
  [data]="strategies$ | async"
  [totalFields]="totalFields"
  [paginator]="paginator"
  (paginationChanged)="getStrategies()"
  [section]="sectionEnum">
</app-data-table>

<app-mobile-data-view-strategy
  [strategies]="strategies$ | async"
  [paginator]="paginator"
  (paginationChanged)="getStrategies()">
</app-mobile-data-view-strategy>

<div [innerHTML]="'additionalInfo' | translate"></div>

<!--<p translate>В меню терминала “Сервис” - ”Настройки”, на вкладке “Советники” внесите адрес сервера RAMM в список разрешенных URL.</p>-->
<!--<p translate>Для этого добавьте адрес-->
<!--  <a href="https://maindc.ramm.store/api/trading/v1/signals.send">https://maindc.ramm.store/api/trading/v1/signals.send</a>-->
<!--  в таблицу “Разрешить WebRequest для следующих URL:”.</p>-->
<!--<p translate>Запустите советник на любом графике. Все изменения на вашем счете будут копироваться в вашу стратегию в RAMM.</p>-->
