<app-dialog-wrapper titleText="{{'Инвестировать в стратегию' | translate}}" [modalRef]="modalRef">
  <form [formGroup]="form">

    <div class="form-field">
      <label for="amount" class="field-label"><span translate>Сумма инвестиции</span>, USD:</label>
      <div class="input-wrapper">
        <input id="amount"
               type="number"
               formControlName="amount"
               [min]="0"
               [max]="wallet.balance">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('required')" translate>
            strategy.form.amount.error.required
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('min')">
            <span translate>Минимальная сумма инвестиции -</span><span class="available-clickable" (click)="setMoney(securityMinBalance)"> {{securityMinBalance | customCurrency}}</span>
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('max')" translate>
            strategy.form.amount.error.max
          </label>
          <label class="error-message"
                 *ngIf="form.get('amount').touched && form.get('amount').hasError('pattern')" translate>
            strategy.form.amount.error.pattern
          </label>
<!--          <label class="details-message">-->
<!--            <span translate>Баланс вашей инвестиции в вашу стратегию после вывода должен быть не меньше</span> {{securityMinBalance | customCurrency}}.-->
<!--          </label>-->
          <label class="details-message">
            <span translate>common.available</span>: <span class="available-clickable" (click)="setMoney(wallet.getAvailableMoney())">{{wallet.getAvailableMoney() | customCurrency}}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="factor" class="field-label"><span translate>Множитель</span>:</label>
      <div class="input-wrapper">
        <input id="factor"
               type="number"
               formControlName="factor"
               [min]="0.1"
               [max]="10"
               [step]="0.1"
               title="{{'Коэффициент копирования. При соотношении более 1,0 копирование идет более агрессивно; увеличивается не только потенциальный доход, но и риск потери. Когда коэффициент меньше 1,0 - наоборот' | translate}}">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('factor').touched && form.get('factor').hasError('required')" translate>
            account.form.factor.error.required
          </label>
          <label class="error-message"
                 *ngIf="form.get('factor').touched && form.get('factor').hasError('pattern')" translate>
            account.form.factor.error.pattern
          </label>
          <label class="error-message"
                 *ngIf="form.get('factor').touched && form.get('factor').hasError('min') && !form.get('factor').hasError('pattern')">
            <span translate>account.form.factor.error.min</span> - 0.1.
          </label>
          <label class="error-message"
                 *ngIf="form.get('factor').touched && form.get('factor').hasError('max') && !form.get('factor').hasError('pattern')">
            <span translate>account.form.factor.error.max</span> - 10.
          </label>
        </div>
      </div>
    </div>

    <div class="form-field" *ngIf="functionality['TargetChangeAllow']">
      <label for="target" class="field-label"><span translate>common.target</span>, %:</label>
      <div class="input-wrapper">
        <input id="target"
               type="number"
               formControlName="target"
               [min]="0"
               [step]="1"
               title="{{'strategy.form.target.tooltip' | translate}}">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('target').touched && form.get('target').hasError('required')" translate>
            account.form.target.error.required
          </label>
          <label class="error-message"
                 *ngIf="form.get('target').touched && form.get('target').hasError('pattern')" translate>
            account.form.target.error.pattern
          </label>
          <label class="error-message"
                 *ngIf="form.get('target').touched && form.get('target').hasError('min') && !form.get('target').hasError('pattern')">
            <span translate>account.form.target.error.min</span> - 0.
          </label>
          <label class="details-message" *ngIf="form.get('amount').value && form.get('target').value && form.valid">
            {{((form.get('amount').value * form.get('target').value) / 100) | customCurrency}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-field" *ngIf="functionality['ProtectionChangeAllow']">
      <label for="protection" class="field-label"><span translate>common.protection</span>, %:</label>
      <div class="input-wrapper">
        <input id="protection"
               type="number"
               formControlName="protection"
               [min]="0"
               [max]="99"
               [step]="1"
               title="{{'account.form.protection.title' | translate}}">
        <div class="messages">
          <label class="error-message"
                 *ngIf="form.get('protection').touched && form.get('protection').hasError('required')" translate>
            account.form.protection.error.required
          </label>
          <label class="error-message"
                 *ngIf="form.get('protection').touched && form.get('protection').hasError('min') && !form.get('protection').hasError('pattern')" translate>
            account.form.protection.error.min
          </label>
          <label class="error-message"
                 *ngIf="form.get('protection').touched && form.get('protection').hasError('pattern')" translate>
            account.form.protection.error.pattern
          </label>
          <label class="error-message"
                 *ngIf="form.get('protection').touched && form.get('protection').hasError('max') && !form.get('protection').hasError('pattern')">
            <span translate>account.form.protection.error.max</span> - 99.
          </label>
          <label class="details-message" *ngIf="form.get('amount').value && form.get('protection').value && form.valid">
            {{((form.get('amount').value * form.get('protection').value) / 100) | customCurrency}}
          </label>
        </div>
      </div>
    </div>

    <div class="dialog-actions">
      <button class="primary"
              [disabled]="!form.valid"
              (click)="invest()">
        <span translate>common.manage.invest</span> {{form.valid ? '(' + (form.get('amount').value | customCurrency) + ')' : ''}}
      </button>
    </div>
  </form>
</app-dialog-wrapper>
