@media (max-width: 576px) {
  .rating-content-container {
    margin-top: 40px;

    p {
      margin: 60px 0 0 !important;
    }
  }

  .search-container {
    position: static;
    margin-top: 15px;

    input.search {
      width: auto;
      flex-grow: 1;
    }
  }
}
