@import "styles";

.strategies {
  display: block;
  padding-top: 15px;

  .strategy {
    border-bottom: 5px solid $border-color;
    padding: 15px 10px;

    &:last-child {
      margin-bottom: 20px;
    }

    .caption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    .info {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &>span {
          flex: 0 0 50%;
          text-align: left;
        }
      }
    }
  }
}
